    <div class="clearfix">&nbsp;</div>
    <div class="well" ng-show="canRead('owner')">
     <legend>Owner</legend>
     <form name="OwnerForm" class="form-horizontal">
      <div class="control-group" ng-show="owner.id!=null">
        <label class="control-label" for="id">Code<font color="red">*</font>:</label>
        <div class="controls">
          <p>
            <input class="span10" type="text" name="id" id="id" ng-model="owner.id" disabled/></p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Nama Owner<font color="red">*</font>:</label>
          <div class="controls">
            <p><input class="span3" type="text" name="name" id="name" ng-model="owner.name" onkeyup="convertToUppercase(this)" required/></p>
          </div></div>

          <div class="control-group">
           <label class="control-label" for="mobile">Telepon:</label>
           <div class="controls">
            <p><input class="span10" type="text" name="mobile" id="mobile" ng-model="owner.mobile" maxlength="13" onkeypress='validate(event)'/>
            </p>
          </div></div>

          <div class="control-group">
            <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
            <div class="controls">
             <label><input type="radio" name="is_active" id="is_active_0" ng-model="owner.is_active" value="1" required> Ya</label>
             <label><input type="radio" name="is_active" id="is_active_1" ng-model="owner.is_active" value="0" required> Tidak</label>
           </div>
         </div>

         <div class="form-actions">
           <crud-buttons></crud-buttons>
         </div>
         <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
       </form>
     </div>