  <div style="padding:19px;">
  	<div class="col-xs-12" ng-show="canRead('paymentlazada')">
  		<h3>Payment Lazada</h3><br />
  		<div class="pull-left">
  			<form class="form-search">
  				<div class="input-prepend">
  					<span class="add-on">Cari</span>
  					<input type="text" my-enter="change_filter()" ng-model="filterOptions.filterText" class="search-query" onkeyup="convertToUppercase(this)" placeholder="Nomor Resi">
  				</div>
          &emsp;
          <div class="input-prepend">
           <button type="button" class="btn btn-success" ng-click="change_filter()">Filter</button>
         </div>
         <div class="input-prepend">
           <button type="button" class="btn btn-success" ng-click="change_reset()">Reset</button>
         </div>
       </form>
     </div>
     <div class="pull-right">
      <button ng-click="upload()" class="btn btn-link"><i class="fa fa-upload"></i> Upload</button>
      <button ng-click="generate()" class="btn btn-primary"><i class="fa fa-cogs"></i> Generate</button>
    </div>
    <div class="clearfix">&nbsp;</div><br/>
    <div class="box">
     <div>
      <div ng-grid="gridOptions"></div>
    </div>
  </div>
</div>
</div>