<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('paymentlazada')">
  <div class="row">
   <legend>Upload Pembayran Lazada</legend>
   <div class="col-md-12">
    <div class="panel panel-default" align="left">
      <div class="panel-heading">
        <h1 class="panel-title">Import Data</h1>
      </div>
      <div class="panel-body">
        <form name="import_dataForm" class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="date">Tanggal<font color="red">*</font>:</label>
            <div class="controls">
              <p>
                <input type="text" class="date-popup" id="date" name="date" ng-model="paymentlazada.date" is-open="Open" datepicker-popup="{{format}}" max="paymentlazada.date" required disabled>
                <button type="button" class="btn btn-default" ng-click="Open=true;$event.stopPropagation();">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="file">Excel File<font color="red">*</font>:</label>
            <div class="controls">
              <p>
                <input class="form-control" type="file" ng-file-select="onFileSelect($files)" required/>
                <p class="help-block">Excel types: .xls or .xlsx</p>
              </p>
            </div>
          </div>

          <div class="form-group">
            <br>
            <div ng-show="selectedFiles != null && (progress[0] < 100)">
              <ul class="list-unstyled" ng-repeat="f in selectedFiles">
                <li>
                  <div class="progress progress-striped active" ng-show="(progress[$index] >= 0)">
                    <div class="bar" style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <label class="control-label col-sm-3"></label>
                    <div class="col-sm-9">
                      <a class="btn btn-success" ng-href="" ng-click="start($index)" ng-show="progress[$index] < 0"><i class="icon-play-circle"></i> Start</a> 
                      <a class="btn btn-danger" ng-href="" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100"><i class="icon-remove-circle"></i> Abort</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>

</div>
</div>