<div class="modal-header">
  <h1 class="panel-title"><i class="fa fa-comment"></i> Why Reject?</h1>
</div>
<div class="modal-body">

  <div class="col-md-12">
    <form name="CommentForm" class="form-horizontal">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">

        <div class="control-group">
          <label class="control-label" for="comment">Comment:</label>
          <div class="controls">  
            <p><div text-angular ng-model="comment.comment" required></div></p>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-disabled="!canSave()" ng-click="save()">Save</button>
  <button type="button" class="btn btn-link" ng-click="back()">Cancel</button>
</div>