<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('pricelist')">
	<div class="row">
		<legend>Create Price List</legend>
		<div class="col-md-12">
			<div class="col-md-4">
				<form name="PricelistForm" class="form-horizontal">

					<div class="control-group">
						<label class="control-label" for="name">Nama Pricelist<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input type="text" class="span3" name="name" class="form-control" ng-model="pricelist.name" ng-change="changeName()" onkeyup="convertToUppercase(this)" required>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="market_id">Market<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="market_id" id="market_id" ng-model="pricelist.market_id" ng-options="market.id as market.name for market in markets" required>
									<option></option>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="start_date">Start Date<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="start_date" name="start_date" ng-model="pricelist.start_date" min="minDate" is-open="start_date" datepicker-popup="{{format}}" ng-change="changeStart()" required disabled>
								<button type="button" class="btn btn-default" ng-click="start_date=true;$event.stopPropagation();">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="end_date">End Date<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="end_date" name="end_date" ng-model="pricelist.end_date" min="minDateEnd" is-open="end_date" datepicker-popup="{{format}}" required disabled>
								<button type="button" class="btn btn-default" ng-click="end_date=true;$event.stopPropagation();" ng-disabled="pricelist.start_date == null">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="operational">Operational:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="span6" id="operational" name="operational" ng-model="pricelist.operational" format="number" ng-change="nominal()" style="text-align: right; width: 120px">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="note">Keterangan:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="note" id="note" ng-model="pricelist.note"></textarea>
							</p>
						</div>
					</div>

					<br>
					<small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
					<br>

				</form>

			</div>
			<div class="col-md-8">
				<div>
					<div class="pull-right">
						<button ng-click="add()" class="btn btn-link" ng-disabled="!canSave()"><i class="glyphicon glyphicon-plus-sign"></i> Tambah</button>
					</div>
					<div class="clearfix">&nbsp;</div><br/>
					<div ng-grid="operationals" style="width:1060px !important"></div>
				</div>
				<div class="box">
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 48%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">TOTAL</label>
					<div class="controls" style="font-size: 15px;width: 8%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{pricelist.totalnominal | number}}
					</div>
				</div>
			</div>
			</div>
			<div class="clearfix">&nbsp;</div><br/>

			<legend></legend>
			<button class="btn btn-success btn-sm" ng-click="addItem()" ng-disabled="!canSave()"><i class="icon-plus"></i> Item </button>
			<div class="pull-right">
				<label>Search:</label>
				<input type="text" name="searchItemCode" class="span6" ng-model="pricelist.search_item_code" ng-change="searchItemCode(pricelist.search_item_code)" ng-enter="" placeholder="code...">
				<input type="text" name="searchItem" class="span10" ng-model="pricelist.search_item" ng-change="searchItem(pricelist.search_item)" ng-enter="" placeholder="Name...">
			</div>
			<br><br>
			<div class="box">
				<div>
					<div ng-grid="gridOptionsItem"></div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-actions">
					<div class="col-md-5">
					</div>
					<div class="col-md-7">
						<crud-buttons></crud-buttons>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>