<div style="padding:19px;">
	<div class="col-xs-12" ng-show="canRead('pricelist')">
		<h3>Price List</h3><br />
		<div class="pull-left">
			<form class="form-search">
				<div class="input-prepend">
					<span class="add-on">Search</span>
					<input type="text" my-enter="change_filter()" ng-model="filterOptions.filterText" class=" search-query">
				</div>
				<div class="input-prepend">
					<select name="market_id" id="market_id" ng-model="filterOptions.market_id" ng-options="market.id as market.name for market in markets">
						<option></option>
					</select>
				</div>
			</form>
		</div>
		<div class="pull-right">
			<button ng-hide="!canCreate()" ng-click="create()" class="btn btn-link"><i class="icon-plus"></i> Create</button>
		</div>
		<div class="clearfix">&nbsp;</div><br/>
		<div class="box">
			<div>
				<div  ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>
</div>