<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('item')">
  <legend>Items</legend>
  <form name="ItemForm" class="form-horizontal">
    <div class="control-group" ng-show="item.id!=null">
      <label class="control-label" for="id">Code<font color="red">*</font>:</label>
      <div class="controls">
        <p>
          <input class="span6" type="text" name="id" id="id" ng-model="item.id" disabled/>
        </p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="barcode">Barcode<font color="red">*</font>:</label>
      <div class="controls">
        <p>
          <input class="span10" type="text" name="barcode" id="barcode" ng-model="item.barcode" ng-disabled="item.check_barcode==false"/> <input type="checkbox" name="check_barcode" id="check_barcode" ng-model="item.check_barcode">
        </p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name">Nama<font color="red">*</font>:</label>
      <div class="controls">
        <p><input class="span3" type="text" name="name" id="name" ng-model="item.name" ng-minlength="3" ng-maxlength="100"onkeyup="convertToUppercase(this)" style="width: 400px" required/>
          <span class="error" ng-show="ItemForm.name.$error.minlength"><font color="red">Min. 3 karakter!</font></span>
          <span class="error" ng-show="ItemForm.name.$error.maxlength"><font color="red">Maks. 100 karakter!</font></span>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="itemgroup_id">Item Group<font color="red">*</font></label>
      <div class="controls">  
        <p>
          <select name="itemgroup_id" id="itemgroup_id" ng-model="item.itemgroup_id" ng-options="itemgroup.id as itemgroup.id+ ' -- ' +itemgroup.name for itemgroup in itemgroups" style="width:auto;" ng-change="changeitemgroup()" ng-disabled="item.id!=null" required>
            <option style="display:none" value=""></option>
          </select>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="itemcategory_id">Item Category<font color="red">*</font></label>
      <div class="controls">  
        <p>
          <select name="itemcategory_id" id="itemcategory_id" ng-model="item.itemcategory_id" ng-options="itemcategory.id as itemcategory.id+ ' -- ' +itemcategory.name for itemcategory in itemcategorys" style="width:auto;" ng-change="changeitemcategory()" ng-disabled="item.id!=null" required>
            <option style="display:none" value=""></option>
          </select>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="itemsubcategory_id">Item Subcategory<font color="red">*</font></label>
      <div class="controls">  
        <p>
          <select name="itemsubcategory_id" id="itemsubcategory_id" ng-model="item.itemsubcategory_id" ng-options="itemsubcategory.id as itemsubcategory.id+ ' -- ' +itemsubcategory.name for itemsubcategory in itemsubcategorys" style="width:auto;" ng-disabled="item.id!=null" required>
            <option style="display:none" value=""></option>
          </select>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="unit_id">Unit<font color="red">*</font></label>
      <div class="controls">  
        <p>
          <select name="unit_id" id="unit_id" ng-model="item.unit_id" ng-options="unit.id as unit.name for unit in units" style="width:auto;" required>
            <option style="display:none" value=""></option>
          </select>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="brand_id">Brand<font color="red">*</font></label>
      <div class="controls">  
        <p>
          <select name="brand_id" id="brand_id" ng-model="item.brand_id" ng-options="brand.id as brand.name for brand in brands" style="width:auto;" required>
            <option style="display:none" value=""></option>
          </select>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="owner_id">Owner<font color="red">*</font></label>
      <div class="controls">  
        <p>
          <select name="owner_id" id="owner_id" ng-model="item.owner_id" ng-options="owner.id as owner.name for owner in owners" style="width:auto;" required>
            <option style="display:none" value=""></option>
          </select>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="weight">Berat (gram)<font color="red">*</font>:</label>
      <div class="controls">
        <p><input class="span6" type="text" name="weight" id="weight" ng-model="item.weight" maxlength="5" format="number" style="text-align: right;" required>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="dimension">Dimensi (P x L x T):</label>
      <div class="controls">
        <p><input class="span1" type="text" name="long" id="long" ng-model="item.long" maxlength="4" format="number" style="text-align: right;">
          <input class="span1" type="text" name="wide" id="wide" ng-model="item.wide" maxlength="4" format="number" style="text-align: right;">
          <input class="span1" type="text" name="high" id="high" ng-model="item.high" maxlength="4" format="number" style="text-align: right;">
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="note">Keterangan:</label>
      <div class="controls">
        <p>
          <textarea class="span4" type="text" name="note" id="note" ng-model="item.note"></textarea>
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
      <div class="controls">
        <label><input type="radio" name="is_active" id="is_active_0" ng-model="item.is_active" value="1" required> Ya</label>
        <label><input type="radio" name="is_active" id="is_active_1" ng-model="item.is_active" value="0" required> Tidak</label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-actions">
        <div class="col-md-5">
          <crud-buttons></crud-buttons>
        </div>
        <div class="col-md-6">
        </div>
        <div class="pull-right">
          <button class="btn" ng-click="duplicate()" ng-show="item.is_save == 1" style="background-color: #F5961D;color: white;">Duplicate</button>
        </div>
      </div>
    </div>

    <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
  </form>
</div>
