<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('group')">
	<form class="form-horizontal" name="groupForm" novalidate>
		<fieldset>
			<legend>Group</legend>

			<div class="control-group">
				<label class="control-label" for="name">Name<font color="red">*</font>:</label>
				<div class="controls">
					<p>
						<input class="span10" type="text" name="name" id="name" ng-model="group.name" ng-minlength="3" ng-maxlength="30" required unique-groupname="group.id" />
						<span class="error" ng-show="groupForm.name.$error.minlength"><font color="red">Min. 3 karakter!</font></span>
						<span class="error" ng-show="groupForm.name.$error.maxlength"><font color="red">Maks. 30 karakter!</font></span>
						<span ng-show="(groupForm.name.$error.uniqueGroupname && !userForm.username.$error.minlength)"><font color="red">Group name telah dipakai!</font></span>
					</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="description">Description<font color="red">*</font>:</label>
				<div class="controls">
					<p><textarea class="span10" name="description" id="description" ng-model="group.description" required></textarea></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="code">Code<font color="red">*</font>:</label>
				<div class="controls">
					<p><input class="span10" type="text" name="code" id="code" ng-model="group.code" required /></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="is_active">Active:</label>
				<div class="controls">
					<label><input type="radio" name="is_active" id="is_active_0" ng-model="group.is_active" value="1" required> Yes</label>
					<label><input type="radio" name="is_active" id="is_active_1" ng-model="group.is_active" value="0" required> No</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="roles">Role:</label>
				<div class="controls">
					<ul class="unstyled">
						<li ng-repeat="role in roles.records">
							<input type="checkbox" checklist-model="group.roles" checklist-value="role"> {{role.name}}
						</li>
					</ul>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<crud-buttons></crud-buttons>
		</div>
	</form>
</div>