<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/letter.png">
  <title>Change or Die</title>

  <link href="styles/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/datetimepicker.css"/>
  <link href="styles/open-sans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/ng-grid.min.css">
  <link href="bower_components/angular-dialog-service/dialogs.css" rel="stylesheet">

  <link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="styles/font-awesome-css.css" rel="stylesheet">
  <link href='styles/font-righteous.css' rel='stylesheet' type='text/css'>
  <link href='styles/oneui.css' rel='stylesheet' type='text/css'>



  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="dist/bootstrap-clockpicker.min.css">
</head>
<div ng-controller="AppCtrl">
	<div class="calcbody">
        <!-- Calculator Display -->
        <div class="thinborder">
            <!-- Display is bound to scope variables in app.js -->
            <p class="output" name="output">{{output}}
                <br>{{operationToken}}</p>
            </div>
            <div class="calcbuttons">
            <!-- Buttons all have ng-click directives that call functions in app.js
            -->
            <button name="btn1" class="numberbutton" value="1" ng-click='updateOutput(1)'>1</button>
            <button name="btn2" class="numberbutton" value="2" ng-click='updateOutput(2)'>2</button>
            <button name="btn3" class="numberbutton" value="3" ng-click='updateOutput(3)'>3</button>
            <button name="btnMinus" class="operationbutton" ng-click='subtract()'>-</button>
            <br>
            <button name="btn4" class="numberbutton" value="4" ng-click='updateOutput(4)'>4</button>
            <button name="btn5" class="numberbutton" value="5" ng-click='updateOutput(5)'>5</button>
            <button name="btn6" class="numberbutton" value="6" ng-click='updateOutput(6)'>6</button>
            <button name="btnPlus" class="operationbutton" ng-click='add()'>+</button>
            <br>
            <button name="btn7" class="numberbutton" value="7" ng-click='updateOutput(7)'>7</button>
            <button name="btn8" class="numberbutton" value="8" ng-click='updateOutput(8)'>8</button>
            <button name="btn9" class="numberbutton" value="9" ng-click='updateOutput(9)'>9</button>
            <button name="btnEquals" class="operationbutton" ng-click='cross()'>*</button>
            <br>
            <button name="btnClear" class="clearbutton" ng-click='clear()'>C</button>
            <button name="btn0" class="numberbutton" value="0" ng-click='updateOutput(0)'>0</button>
            <button name="btnEquals" class="calculatebutton" ng-click='calculate()'>=</button>
            <button name="btnEquals" class="operationbutton" ng-click='devide()'>/</button>
        </div>
    </div>
    
</div>

<script type="text/javascript" src="dist/jquery.min.js"></script>
<script type="text/javascript" src="dist/moment.js"></script>

<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="libs/ng-file-upload/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="libs/ng-file-upload/angular-file-upload.js"></script>
<script type="text/javascript" src="libs/ng-grid.min.js"></script>
<script type="text/javascript" src="libs/angular-route.js"></script>
<script type="text/javascript" src="libs/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="libs/bootstrap.js"></script>
<script type="text/javascript" src="libs/angular-sanitize.js"></script>
<script type="text/javascript" src="libs/underscore.js"></script>
<script type="text/javascript" src="libs/restangular.js"></script>
<script type="text/javascript" src="libs/moment.min.js"></script>
<script type="text/javascript" src="libs/datetimepicker.js"></script>
<script type="text/javascript" src="libs/checklist-model.js"></script>
<script type="text/javascript" src="libs/angular-cookies.js"></script>

<script type="text/javascript" src="scripts/common/services/GeoUTM.js"></script>
<script type="text/javascript" src="scripts/common/services/breadcrumbs.js"></script>

<script type="text/javascript" src="scripts/common/services/localizedMessages.js"></script>
<script type="text/javascript" src="scripts/common/services/notifications.js"></script>
<script type="text/javascript" src="scripts/common/services/i18nNotifications.js"></script>

<script type="text/javascript" src="scripts/common/services/exceptionHandler.js"></script>
<script type="text/javascript" src="scripts/common/services/httpRequestTracker.js"></script>

<script type="text/javascript" src="scripts/common/security/authorization.js"></script>
<script type="text/javascript" src="scripts/common/security/interceptor.js"></script>
<script type="text/javascript" src="scripts/common/security/login/toolbar.js"></script>
<script type="text/javascript" src="scripts/common/security/login/LoginFormController.js"></script>
<script type="text/javascript" src="scripts/common/security/login/login.js"></script>
<script type="text/javascript" src="scripts/common/security/retryQueue.js"></script>
<script type="text/javascript" src="scripts/common/security/security.js"></script>
<script type="text/javascript" src="scripts/common/security/index.js"></script>

<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueRoutename.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueRolename.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueUsername.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/checkPwd.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueNip.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueEmail.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/integer.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/float.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/customValidations.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueCustomernumber.js"></script>

<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueItemname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueItemgroupname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueUnitname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueBrandname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueSellingname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueSuppliername.js"></script>

<script type="text/javascript" src="scripts/common/directives/crud/crudButtons.js"></script>
<script type="text/javascript" src="scripts/common/directives/crud/edit.js"></script>
<script type="text/javascript" src="scripts/common/directives/crud/crud.js"></script>
<script type="text/javascript" src="scripts/common/directives/modal.js"></script>

<script type="text/javascript" src="scripts/common/services/crudRouteProvider.js"></script>
<script type="text/javascript" src="scripts/common/services/crud.js"></script>

<script type="text/javascript" src="scripts/common/directives/gravatar.js"></script>

<script type="text/javascript" src="scripts/common/directives/barcodeGenerator.js"></script>

<script type="text/javascript" src="scripts/common/resources/usergroups.js"></script>
<script type="text/javascript" src="scripts/common/resources/users.js"></script>
<script type="text/javascript" src="scripts/common/resources/customers.js"></script>
<script type="text/javascript" src="scripts/app/shared/simpleDeleteConfirm.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/roles/roles.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/users/users.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/groups/groups.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/user_manager.js"></script>
<script type="text/javascript" src="scripts/app/home/use_profile/profile.js"></script>
<script type="text/javascript" src="scripts/app/home/use_route/route.js"></script>
<script type="text/javascript" src="scripts/app/home/home/home.js"></script>
<script type="text/javascript" src="scripts/app/home/main.js"></script>
<script type="text/javascript" src="scripts/app/home/js/directive.js"></script>

<script src="bower_components/textAngular/textAngular.js"></script>
<script src="bower_components/angular-dialog-service/dialogs.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>

<script src="plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="plugins/tinymce/tinymce.min.js"></script>
<script src="plugins/tinymce/jquery.tinymce.min.js"></script>

<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/core/jquery.slimscroll.min.js"></script>
<script src="assets/js/core/jquery.scrollLock.min.js"></script>
<script src="assets/js/core/jquery.appear.min.js"></script>
<script src="assets/js/core/jquery.countTo.min.js"></script>
<script src="assets/js/core/jquery.placeholder.min.js"></script>
<script src="assets/js/core/js.cookie.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- Page JS Plugins -->
<script src="assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- Page JS Code -->
<script src="assets/js/pages/base_pages_login.js"></script>

<!-- home -->
<script type="text/javascript" src="scripts/app/home/param_company/company.js"></script>
<script type="text/javascript" src="scripts/app/home/param_item/item.js"></script>
<script type="text/javascript" src="scripts/app/home/param_itemgroup/itemgroup.js"></script>
<script type="text/javascript" src="scripts/app/home/param_itemcategory/itemcategory.js"></script>
<script type="text/javascript" src="scripts/app/home/param_itemsubcategory/itemsubcategory.js"></script>
<script type="text/javascript" src="scripts/app/home/param_unit/unit.js"></script>
<script type="text/javascript" src="scripts/app/home/param_brand/brand.js"></script>
<script type="text/javascript" src="scripts/app/home/param_customer/customer.js"></script>
<script type="text/javascript" src="scripts/app/home/param_supplier/supplier.js"></script>
<script type="text/javascript" src="scripts/app/home/param_market/market.js"></script>
<script type="text/javascript" src="scripts/app/home/param_shipping/shipping.js"></script>
<script type="text/javascript" src="scripts/app/home/param_salesman/salesman.js"></script>
<script type="text/javascript" src="scripts/app/home/param_reasonstock/reasonstock.js"></script>
<script type="text/javascript" src="scripts/app/home/param_owner/owner.js"></script>
<script type="text/javascript" src="scripts/app/home/param_pricelist/pricelist.js"></script>

<script type="text/javascript" src="scripts/app/home/data_purchaseorder/purchaseorder.js"></script>
<script type="text/javascript" src="scripts/app/home/data_receive/receive.js"></script>
<script type="text/javascript" src="scripts/app/home/data_stock/stock.js"></script>
<script type="text/javascript" src="scripts/app/home/data_salesorder/salesorder.js"></script>
<script type="text/javascript" src="scripts/app/home/data_delivery/delivery.js"></script>
<script type="text/javascript" src="scripts/app/home/data_adjustment/adjustment.js"></script>

<script src="js/devoops.js"></script>
</html>