<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/bj.jpg">
  <title>AKS System</title>
  <link href="styles/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/datetimepicker.css"/>
  <link href="styles/open-sans.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/ng-grid.min.css">
  <link href="bower_components/angular-dialog-service/dialogs.css" rel="stylesheet">
  <link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="styles/font-awesome-css.css" rel="stylesheet">
  <link href='styles/font-righteous.css' rel='stylesheet' type='text/css'>

  <!-- OneUI CSS framework -->
  <link rel="stylesheet" id="css-main" href="assets/css/oneui.css">
  <link rel="stylesheet" type="text/css" href="dist/bootstrap-clockpicker.min.css">
</head>

<body ng-controller="AppCtrl">
  <!-- Login Content -->
  <div style="padding-bottom:5%" class="content push-10-t text-center animated fadeIn" ng-show="!isAuthenticated()" ng-controller="LoginFormController">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <!-- Login Block -->
        <div class="block block-themed animated fadeIn borderlogin">
          <div class="block-header bg-success">
           <h2 class="block-title">Login</h2>
         </div>
         <div class="block-content block-content-full block-content-narrow">
          <table>   
            <tr>
              <td width="25%" style="text-align:left"><img src="img/logo_bj.png" width="85%"></td>
              <td width="45%" style="text-align:center"> <h1 class="h2 font-w600 push-30-t push-5">AKS System</h1></td>
              <td width="25%" style="text-align:right"><img src="img/hris.jpg" width="75%"></td>
            </tr>
          </table>

          <p>Welcome, please login.</p>
          <p class="text-warning" ng-show="authReason">
           {{authReason}}
         </p>
         <p class="text-danger" ng-show="authError">
           <strong>Error!</strong> {{authError}}
         </p>
         <!-- END Login Title -->

         <!-- Login Form -->
         <form class="js-validation-login form-horizontal push-30-t push-50">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary floating">
                <input class="form-control" type="text" id="login-username" name="username" ng-model="user.email">
                <label for="login-username">Username</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary floating">
                <input class="form-control" type="password" id="login-password" name="password" ng-model="user.password">
                <label for="login-password">Password</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <button class="btn btn-block bg-success" type="submit" ng-click="login()">Log In</button>
            </div>
          </div>
        </form>
        <!-- END Login Form -->
      </div>
    </div>
    <!-- END Login Block -->
  </div>
</div>
</div>
<!-- END Login Content -->

<!-- Login Footer -->
<div class="push-10-t text-center animated fadeIn" ng-show="!isAuthenticated()">
  <small class="font-w600"><span class="js-year-copy"></span> &copy; Aksesoren</small>
</div>
<!-- END Login Footer -->

<div id="page-container" style="overflow-x:auto;"class="sidebar-l sidebar-o side-scroll header-navbar-fixed" ng-show="isAuthenticated()">
 <div ng-show="isAuthenticated()" ng-include="'scripts/app/home/header.tpl.html'"></div>
 <!-- Main Container -->
 <main id="main-container" style="overflow-x:auto;position:absolute;min-width: 1680px;" ng-show="isAuthenticated()">
   <div ng-show="isAuthenticated()" ng-include="'scripts/app/marquee.tpl.html'"></div>
   <div ng-show="isAuthenticated()" style="padding-top:2%;position:relative;" id="view" ng-view></div>
 </main>
 <!-- END Footer -->
</div>
<!-- END Page Container -->
</div>

<script type="text/javascript" src="dist/jquery.min.js"></script>
<script type="text/javascript" src="dist/moment.js"></script>

<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="libs/ng-file-upload/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="libs/ng-file-upload/angular-file-upload.js"></script>
<script type="text/javascript" src="libs/ng-grid.min.js"></script>
<script type="text/javascript" src="libs/angular-route.js"></script>
<script type="text/javascript" src="libs/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="libs/bootstrap.js"></script>
<script type="text/javascript" src="libs/angular-sanitize.js"></script>
<script type="text/javascript" src="libs/underscore.js"></script>
<script type="text/javascript" src="libs/restangular.js"></script>
<script type="text/javascript" src="libs/moment.min.js"></script>
<script type="text/javascript" src="libs/datetimepicker.js"></script>
<script type="text/javascript" src="libs/checklist-model.js"></script>
<script type="text/javascript" src="libs/angular-cookies.js"></script>

<script type="text/javascript" src="scripts/common/services/GeoUTM.js"></script>
<script type="text/javascript" src="scripts/common/services/breadcrumbs.js"></script>

<script type="text/javascript" src="scripts/common/services/localizedMessages.js"></script>
<script type="text/javascript" src="scripts/common/services/notifications.js"></script>
<script type="text/javascript" src="scripts/common/services/i18nNotifications.js"></script>

<script type="text/javascript" src="scripts/common/services/exceptionHandler.js"></script>
<script type="text/javascript" src="scripts/common/services/httpRequestTracker.js"></script>

<script type="text/javascript" src="scripts/common/security/authorization.js"></script>
<script type="text/javascript" src="scripts/common/security/interceptor.js"></script>
<script type="text/javascript" src="scripts/common/security/login/toolbar.js"></script>
<script type="text/javascript" src="scripts/common/security/login/LoginFormController.js"></script>
<script type="text/javascript" src="scripts/common/security/login/login.js"></script>
<script type="text/javascript" src="scripts/common/security/retryQueue.js"></script>
<script type="text/javascript" src="scripts/common/security/security.js"></script>
<script type="text/javascript" src="scripts/common/security/index.js"></script>

<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueRoutename.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueRolename.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueUsername.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/checkPwd.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueNip.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueEmail.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/integer.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/float.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/customValidations.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueSellingname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueSuppliername.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueCustomernumber.js"></script>

<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueItemname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueItemgroupname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueUnitname.js"></script>
<script type="text/javascript" src="scripts/common/directives/customValidations/uniqueBrandname.js"></script>

<script type="text/javascript" src="scripts/common/directives/crud/crudButtons.js"></script>
<script type="text/javascript" src="scripts/common/directives/crud/edit.js"></script>
<script type="text/javascript" src="scripts/common/directives/crud/crud.js"></script>
<script type="text/javascript" src="scripts/common/directives/modal.js"></script>

<script type="text/javascript" src="scripts/common/services/crudRouteProvider.js"></script>
<script type="text/javascript" src="scripts/common/services/crud.js"></script>

<script type="text/javascript" src="scripts/common/directives/gravatar.js"></script>

<script type="text/javascript" src="scripts/common/directives/barcodeGenerator.js"></script>

<script type="text/javascript" src="scripts/common/resources/usergroups.js"></script>
<script type="text/javascript" src="scripts/common/resources/users.js"></script>
<script type="text/javascript" src="scripts/common/resources/customers.js"></script>
<script type="text/javascript" src="scripts/app/shared/simpleDeleteConfirm.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/roles/roles.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/users/users.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/groups/groups.js"></script>
<script type="text/javascript" src="scripts/app/home/use_user_manager/user_manager.js"></script>
<script type="text/javascript" src="scripts/app/home/use_profile/profile.js"></script>
<script type="text/javascript" src="scripts/app/home/use_route/route.js"></script>
<script type="text/javascript" src="scripts/app/home/home/home.js"></script>
<script type="text/javascript" src="scripts/app/home/main.js"></script>
<script type="text/javascript" src="scripts/app/home/js/directive.js"></script>

<script src="bower_components/textAngular/textAngular.js"></script>
<script src="bower_components/angular-dialog-service/dialogs.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>

<script src="plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="plugins/tinymce/tinymce.min.js"></script>
<script src="plugins/tinymce/jquery.tinymce.min.js"></script>

<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/core/jquery.slimscroll.min.js"></script>
<script src="assets/js/core/jquery.scrollLock.min.js"></script>
<script src="assets/js/core/jquery.appear.min.js"></script>
<script src="assets/js/core/jquery.countTo.min.js"></script>
<script src="assets/js/core/jquery.placeholder.min.js"></script>
<script src="assets/js/core/js.cookie.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- Page JS Plugins -->
<script src="assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- Page JS Code -->
<script src="assets/js/pages/base_pages_login.js"></script>

<!-- home -->
<script type="text/javascript" src="scripts/app/home/param_company/company.js"></script>
<script type="text/javascript" src="scripts/app/home/param_item/item.js"></script>
<script type="text/javascript" src="scripts/app/home/param_itemgroup/itemgroup.js"></script>
<script type="text/javascript" src="scripts/app/home/param_itemcategory/itemcategory.js"></script>
<script type="text/javascript" src="scripts/app/home/param_itemsubcategory/itemsubcategory.js"></script>
<script type="text/javascript" src="scripts/app/home/param_unit/unit.js"></script>
<script type="text/javascript" src="scripts/app/home/param_brand/brand.js"></script>
<script type="text/javascript" src="scripts/app/home/param_customer/customer.js"></script>
<script type="text/javascript" src="scripts/app/home/param_supplier/supplier.js"></script>
<script type="text/javascript" src="scripts/app/home/param_market/market.js"></script>
<script type="text/javascript" src="scripts/app/home/param_shipping/shipping.js"></script>
<script type="text/javascript" src="scripts/app/home/param_salesman/salesman.js"></script>
<script type="text/javascript" src="scripts/app/home/param_reasonstock/reasonstock.js"></script>
<script type="text/javascript" src="scripts/app/home/param_owner/owner.js"></script>
<script type="text/javascript" src="scripts/app/home/param_pricelist/pricelist.js"></script>

<script type="text/javascript" src="scripts/app/home/data_purchaseorder/purchaseorder.js"></script>
<script type="text/javascript" src="scripts/app/home/data_receive/receive.js"></script>
<script type="text/javascript" src="scripts/app/home/data_stock/stock.js"></script>
<script type="text/javascript" src="scripts/app/home/data_salesorder/salesorder.js"></script>
<script type="text/javascript" src="scripts/app/home/data_delivery/delivery.js"></script>
<script type="text/javascript" src="scripts/app/home/data_adjustment/adjustment.js"></script>
<script type="text/javascript" src="scripts/app/home/data_salesorderall/salesorderall.js"></script>
<script type="text/javascript" src="scripts/app/home/data_paymentlazada/paymentlazada.js"></script>


<script src="js/devoops.js"></script>
</body>
</html>