<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('purchaseorder')">
	<div class="row">
		<legend>Edit Purchase Order</legend>
		<div class="col-md-12">
			<div class="col-md-4">
				<form name="PurchaseorderForm1" class="form-horizontal">

					<div class="control-group">
						<label class="col-md-4 text-right" for="date">Tanggal PO<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="date" name="date" ng-model="purchaseorder.date" is-open="Open" datepicker-popup="{{format}}" required disabled>
								<button type="button" class="btn btn-default" ng-click="Open=true;$event.stopPropagation();">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="supplier">Nama Supplier<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span3" id="supplier" name="supplier" ng-model="purchaseorder.supplier" required><button type="button" class="btn btn-default" ng-click="supplier()"><i class="glyphicon glyphicon-search"></i></button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="market">Market:</label>
						<div class="controls">
							<p>
								<select name="market" id="market" ng-model="purchaseorder.market" ng-options="market.id as market.name for market in markets" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="province">Provinsi:</label>
						<div class="controls">
							<p>
								<select name="province" id="province" ng-model="purchaseorder.province" ng-options="province.name as province.name for province in provinces" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="city">Kabupaten/Kota:</label>
						<div class="controls">
							<p>
								<select name="city" id="city" ng-model="purchaseorder.city" ng-options="city.city as city.city for city in citys" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group" ng-show="purchaseorder.districts != ''">
						<label class="col-md-4 text-right" for="districts">Kecamatan:</label>
						<div class="controls">
							<p>
								<select name="districts" id="districts" ng-model="purchaseorder.districts" ng-options="district.districts as district.districts for district in districts" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group" disabled ng-show="purchaseorder.village != ''">
						<label class="col-md-4 text-right" for="village">Kelurahan:</label>
						<div class="controls">
							<p>
								<select name="village" id="village" ng-model="purchaseorder.village" ng-options="village.village as village.village for village in villages" disabled>
								</select>
								<input class="span6" type="text" name="postal" id="postal" ng-model="purchaseorder.postal" disabled>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="from_ship">Dikirim Dari:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="from_ship" id="from_ship" ng-model="purchaseorder.from_ship" disabled></textarea>
							</p>
						</div>
					</div>
					
					<br>
					<small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
					<br>

				</form>

			</div>

			<div class="col-md-4">
				<form name="PurchaseorderForm2" class="form-horizontal">
					<div class="control-group">
						<label class="col-md-4 text-right" for="id">Code<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span10" id="id" name="id" ng-model="purchaseorder.id" disabled>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="shipping_id">Jasa Pengiriman<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="shipping_id" id="shipping_id" ng-model="purchaseorder.shipping_id" ng-options="shipping.id as shipping.id+' - '+shipping.name for shipping in shippings" style="width: auto;" required>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="to_name">Kepada<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input type="text" class="span3" id="to_name" name="to_name" ng-model="purchaseorder.to_name" onkeyup="convertToUppercase(this)" required>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="to_ship">Dikirim Ke<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="to_ship" id="to_ship" ng-model="purchaseorder.to_ship" required></textarea>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="ongkir">Ongkos Kirim<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="span6" id="ongkir" name="ongkir" ng-model="purchaseorder.ongkir" format="number" style="text-align: right;" ng-change="change_ongkir()">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="note">Keterangan:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="note" id="note" ng-model="purchaseorder.note"></textarea>
							</p>
						</div>
					</div>
					
				</form>
			</div>

			<div class="col-md-4">

			</div>

			<div class="clearfix">&nbsp;</div><br/>

			<legend></legend>
			<button class="btn btn-success btn-sm" ng-click="addItem()"><i class="icon-plus"></i> Item </button>
			<div class="pull-right">Keterangan: (*) dapat di isi</div>
			<br><br>
			<div class="box">
				<div>
					<div ng-grid="gridOptions"></div>
				</div>
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 47%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">TOTAL</label>
					<div class="controls" style="font-size: 15px;width: 15%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{purchaseorder.total | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 22%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{purchaseorder.bruto | number}}
					</div>
					<div class="controls" style="font-size: 15px;width: 7%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{purchaseorder.qty | number}}
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-actions">
					<div class="col-md-5">
					</div>
					<div class="col-md-6" ng-show="purchaseorder.is_save == 0">
						<crud-buttons></crud-buttons>
					</div>
					<div class="col-md-6" ng-hide="purchaseorder.is_save == 0">
						<button class="btn btn-success ce" ng-click="back()">Back</button>
					</div>
					<div class="pull-right">
						<button class="btn" ng-click="post()" ng-show="purchaseorder.is_save == 0" style="background-color: #F5961D;color: white;">Posting</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>