<marquee direction="left" class="bg ticker" style="padding: 0.34%;background-color: green;color: white;font-size: 15px;position:fixed;" ng-show="isAuthenticated()">
                    <b>Info PT. Pangansari Utama - Info IT Department ( {{date | date:'EEEE, dd MMMM yyyy'}} {{date | date:'HH:mm'}} ) || &nbsp;Info PT. Pangansari Utama - Info IT Department ( {{date | date:'EEEE, dd MMMM yyyy'}} {{date | date:'HH:mm'}} )</b>
            </marquee>