<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('user')">
	<form class="form-horizontal" name="changePwdUserForm" novalidate>

		<legend>Change User Password</legend>
		<div class="control-group">
			<label class="control-label" for="new_pwd">Password Baru<font color="red">*</font>:</label>
			<div class="controls">
				<p><input class="span10" type="password" name="new_pwd" id="new_pwd" ng-model="user.new_pwd"  ng-minlength="6" ng-maxlength="50" required/>
					<span class="error" ng-show="changePwdUserForm.new_pwd.$error.minlength"><font color="red">Min. 6 karakter!</font></span>
					<span class="error" ng-show="changePwdUserForm.new_pwd.$error.maxlength"><font color="red">Max. 50 karakter!</font></span>
				</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="retype_new_pwd">Ulangi Password Baru<font color="red">*</font>:</label>
			<div class="controls">
				<p><input class="span10" type="password" name="retype_new_pwd" id="retype_new_pwd" ng-model="user.retype_new_pwd" required check-pwd="new_pwd"/>
					<span class="error" ng-show="changePwdUserForm.retype_new_pwd.$error.pwmatch"><font color="red">Passwords tidak sama!</font></span>
				</p>
			</div>
		</div>
		<div class="form-actions">
			<crud-buttons route="user"></crud-buttons>
		</div>

	</form>
</div>
