<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('user')">
	<form class="form-horizontal" name="userForm" novalidate>
		<legend>User</legend>
		<div class="span10" ng-show="isCustomerNotExist&&!isCustomerExist"><div class="alert alert-error"><strong>Username telah dipakai!</strong></div></div>
		<div class="control-group">
			<label class="control-label" for="employee_id">Name<font color="red">*</font>:</label>
			<div class="controls">
				<p><input class="span10" type="text" name="name" id="name" ng-model="user.name" required/></p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="username">Username<font color="red">*</font>:</label>
			<div class="controls">
				<p><input class="span10" type="text" name="username" id="username" ng-model="user.username" ng-minlength="3" ng-maxlength="30" required unique-username="user.id" />
					<span class="error" ng-show="userForm.username.$error.minlength"><font color="red">Min. 3 karakter!</font></span>
					<span class="error" ng-show="userForm.username.$error.maxlength"><font color="red">Maks. 30 karakter!</font></span>
					<span ng-show="(userForm.username.$error.uniqueUsername && !userForm.username.$error.minlength)"><font color="red">Username telah dipakai!</font></span></p>

				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="email">Email<font color="red">*</font>:</label>
				<div class="controls">
					<p><input class="span10" type="email" name="email" id="email" ng-model="user.email" required unique-email="user.id" />
						<span for="email" class="text-danger" ng-show="userForm.email.$error.email"><font color="red">Email tidak valid!</font></span>
						<span ng-show="(userForm.email.$error.uniqueEmail)"><font color="red">Email telah dipakai!</font></span>
					</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="user_group_id">Group<font color="red">*</font>:</label>
				<div class="controls">
					<p><select name="user_group_id" id="user_group_id" ng-model="user.user_group_id" ng-options="item.id as item.name for item in usergroups" required ng-disabled="(user.id===1)">
					</select></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="company">Cabang<font color="red">*</font>:</label>
				<div class="controls">
					<p><select name="company_id" id="company_id" ng-model="user.company_id" ng-options="item.id as item.code +'-'+ item.name for item in companys" required >
					</select></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="active">Active<font color="red">*</font>:</label>
				<div class="controls">
					<label><input type="radio" name="active" id="active_0" ng-model="user.active" value="1" required ng-disabled="(user.id===1)"> Yes</label>
					<label><input type="radio" name="active" id="active_1" ng-model="user.active" value="0" required ng-disabled="(user.id===1)"> No</label>
				</div>
			</div>
		</br>   

		<div class="form-actions">
			<crud-buttons></crud-buttons>
		</div>
	</form>
</div>
