 <div style="padding:19px;">
	<div class="col-xs-12" ng-show="canRead('user')">
        <!--Body content-->
    <ul class="nav nav-pills clearfix">
	<li ng-show="isAuthorizedRoute('user', 'can_read')"  class="active"><a ng-href="#/home/user" class="btn btn-link"><i></i> User List</a></li>
	<li ng-show="isAuthorizedRoute('group', 'can_read')"><a ng-href="#/home/group" class="btn btn-link"><i ></i> User Group Role</a></li>
	<li ng-show="isAuthorizedRoute('role', 'can_read')"><a ng-href="#/home/role" class="btn btn-link"><i></i> Role List</a></li>
	<li ng-show="isAuthorizedRoute('route', 'can_read')"><a ng-href="#/home/route" class="btn btn-link"><i></i> Route</a></li>
</ul>
<div class="clearfix">&nbsp;</div>
<div class="pull-left">
    <form class="form-search">
		<div class="input-prepend">
			<span class="add-on">Search</span>
			<input type="text" my-enter="change_filter()" ng-model="filterOptions.filterText" class=" search-query" placeholder="name, email...">
		</div>
		<div class="input-prepend">
			<button  type="button" class="btn btn-success" ng-click="change_filter()">Filter</button>
		</div>
	</form>
</div>
<div class="pull-right">
    <button ng-hide="!canCreate('user')" ng-click="create()" class="btn btn-link"><i class="icon-plus"></i> Create</button>
    <button ng-disabled="!canSelect()" ng-click="detail()" class="btn btn-link">Detail</button>
    <button ng-disabled="!canChangePwd()" ng-click="changePwd()" class="btn btn-link">Change Password</button>
</div>
<div class="clearfix">&nbsp;</div>
<br>
<div>
    <div ng-grid="gridOptions"></div>
</div> 

    </div>
  </div>
