    <div class="clearfix">&nbsp;</div>
    <div class="well" ng-show="canRead('supplier')">
     <legend>Supplier</legend>
     <form name="SupplierForm" class="form-horizontal">
      <div class="control-group" ng-show="supplier.id!=null">
        <label class="control-label" for="id">Code<font color="red">*</font>:</label>
        <div class="controls">
          <p>
            <input class="span10" type="text" name="id" id="id" ng-model="supplier.id" disabled/></p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Nama Supplier<font color="red">*</font>:</label>
          <div class="controls">
            <p>
              <input class="span3" type="text" name="name" id="name" ng-model="supplier.name" ng-minlength="2" ng-maxlength="100" unique-suppliername="supplier.id" onkeyup="convertToUppercase(this)" required/>
              <span class="error" ng-show="SupplierForm.name.$error.minlength"><font color="red">Min. 2 karakter!</font></span>
              <span class="error" ng-show="SupplierForm.name.$error.maxlength"><font color="red">Maks. 100 karakter!</font></span>
              <span ng-show="(SupplierForm.name.$error.uniqueSuppliername && !userForm.username.$error.minlength)"><font color="red">Nama supplier sudah dibuat!</font></span>
            </p>
          </div></div>

          <div class="control-group">
           <label class="control-label" for="mobile">Telepon:</label>
           <div class="controls">
            <p><input class="span10" type="text" name="mobile" id="mobile" ng-model="supplier.mobile" maxlength="13" onkeypress='validate(event)'/>
            </p>
          </div></div>

          <div class="control-group">
            <label class="control-label" for="province">Provinsi<font color="red">*</font>:</label>
            <div class="controls">
              <p>
                <select name="province" id="province" ng-model="supplier.province" ng-options="province.name as province.name for province in provinces" ng-change="changeprov()" required>
                </select>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="city">Kabupaten/Kota<font color="red">*</font>:</label>
            <div class="controls">
              <p>
                <select name="city" id="city" ng-model="supplier.city" ng-options="city.city as city.city for city in citys" ng-change="changecity()" required >
                </select>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="districts">Kecamatan:</label>
            <div class="controls">
              <p>
                <select name="districts" id="districts" ng-model="supplier.districts" ng-options="district.districts as district.districts for district in districts" ng-change="changedist()">
                </select>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="village">Kelurahan:</label>
            <div class="controls">
              <p>
                <select name="village" id="village" ng-model="supplier.village" ng-options="village.village as village.village for village in villages" ng-change="changepos()">
                </select>
                <input class="span6" type="text" name="postal" id="postal" ng-model="supplier.postal" disabled/>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="address">Alamat<font color="red">*</font>:</label>
            <div class="controls">  
              <p><input class="span5" type="text" name="address" id="address" ng-model="supplier.address" required/></p>
            </div>
          </div>

          <div class="control-group">
           <label class="control-label" for="email">Email:</label>
           <div class="controls">
            <p>
              <input class="span10" type="email" name="email" id="email" ng-model="supplier.email"/>
              <span for="CustomerForm" class="text-danger" ng-show="SupplierForm.email.$error.email">
                <font color="red">Email tidak valid!</font></span>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="market">Market<font color="red">*</font>:</label>
            <div class="controls">
              <p>
                <select name="market_id" id="market_id" ng-model="supplier.market_id" ng-options="market.id as market.name for market in markets">
                </select>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="note">Keterangan:</label>
            <div class="controls">
              <p>
                <textarea class="span4" type="text" name="note" id="note" ng-model="supplier.note"></textarea>
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
            <div class="controls">
             <label><input type="radio" name="is_active" id="is_active_0" ng-model="supplier.is_active" value="1" required> Ya</label>
             <label><input type="radio" name="is_active" id="is_active_1" ng-model="supplier.is_active" value="0" required> Tidak</label>
           </div>
         </div>

         <div class="form-actions">
           <crud-buttons></crud-buttons>
         </div>
         <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
       </form>
     </div>