<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('adjustment')">
	<div class="row">
		<legend>Adjustment</legend>
		<div class="col-md-12">
			<div class="col-md-4">
				<form name="AdjustmentForm" class="form-horizontal">

					<div class="control-group">
						<label class="col-md-4 text-right" for="date">Tanggal<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="date" name="date" ng-model="adjustment.date" is-open="Open" datepicker-popup="{{format}}" required disabled>
								<button type="button" class="btn btn-default" ng-click="Open=true;$event.stopPropagation();">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="type">Tipe<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select class="span2" name="type" ng-model="adjustment.type" required>
									<option value="1">ADJUST IN</option>
									<option value="2">ADJUST OUT</option>
								</select>
								<span class="error"><font color="red">Pilih dengan benar!</font></span>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="reasonstock_id">Reason Stock<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="reasonstock_id" id="reasonstock_id" ng-model="adjustment.reasonstock_id" ng-options="reasonstock.id as reasonstock.name for reasonstock in reasonstocks" required>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="note">Keterangan:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="note" id="note" ng-model="adjustment.note"></textarea>
							</p>
						</div>
					</div>
					
					<br>
					<small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
					<br>

				</form>

			</div>

			<div class="col-md-4">
			</div>

			<div class="col-md-4">

			</div>

			<div class="clearfix">&nbsp;</div><br/>

			<legend></legend>
			<button class="btn btn-success btn-sm" ng-click="addItem()" ng-disabled="!canSave()"><i class="icon-plus"></i> Item </button>
			<div class="pull-right">Keterangan: (*) dapat di isi</div>
			<br><br>
			<div class="box">
				<div>
					<div ng-grid="gridOptions"></div>
				</div>
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 47%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">TOTAL</label>
					<div class="controls" style="font-size: 15px;width: 18%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{adjustment.total | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 28%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{adjustment.bruto | number}}
					</div>
					<div class="controls" style="font-size: 15px;width: 7%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{adjustment.qty | number}}
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-actions">
					<div class="col-md-5">
					</div>
					<div class="col-md-7">
						<crud-buttons></crud-buttons>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>