 <div style="padding:19px;">
 	<div class="col-xs-12" ng-show="canRead('adjustment')">
 		<h3>Adjustment</h3><br />
 		<div class="pull-left">
 			<form class="form-search">
 				<div class="input-prepend">
 					<span class="add-on">Search</span>
 					<input type="text" class="span2" my-enter="change_filter()" ng-model="filterOptions.filterText" class="form-control" onkeyup="convertToUppercase(this)" placeholder="Code..." style="width: 250px">
 				</div>
 			</form>
 		</div>
 		<div class="pull-right">
 			<button ng-click="create()" class="btn btn-link"><i class="icon-plus" ></i> Create</button>
 		</div>
 		<div class="clearfix">&nbsp;</div><br/>
 		<div class="box">
 			<div>
 				<div ng-grid="gridOptions"></div>
 			</div>
 		</div>
 	</div>
 </div>