<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('itemsubcategory')">
 <legend>Item Subcategorys</legend>
 <form name="ItemsubcategoryForm" class="form-horizontal">
  <div class="control-group" ng-show="itemsubcategory.id!=null">
   <label class="control-label" for="id">Code<font color="red">*</font>:</label>
   <div class="controls">
    <p>
      <input class="span6" type="text" name="id" id="id" ng-model="itemsubcategory.id" disabled/></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Nama<font color="red">*</font>:</label>
    <div class="controls">
      <p><input class="span3" type="text" name="name" id="name" ng-model="itemsubcategory.name" ng-minlength="3" ng-maxlength="100"onkeyup="convertToUppercase(this)" required/>
        <span class="error" ng-show="ItemsubcategoryForm.name.$error.minlength"><font color="red">Min. 3 karakter!</font></span>
        <span class="error" ng-show="ItemsubcategoryForm.name.$error.maxlength"><font color="red">Maks. 100 karakter!</font></span>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="itemgroup_id">Item Group<font color="red">*</font></label>
    <div class="controls">  
      <p>
        <select name="itemgroup_id" id="itemgroup_id" ng-model="itemsubcategory.itemgroup_id" ng-options="itemgroup.id as itemgroup.id+ ' -- ' +itemgroup.name for itemgroup in itemgroups" style="width:auto;" ng-change="changeitemgroup()" ng-disabled="itemsubcategory.id!=null" required>
          <option style="display:none" value=""></option>
        </select>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="itemcategory_id">Item Category<font color="red">*</font></label>
    <div class="controls">  
      <p>
        <select name="itemcategory_id" id="itemcategory_id" ng-model="itemsubcategory.itemcategory_id" ng-options="itemcategory.id as itemcategory.id+ ' -- ' +itemcategory.name for itemcategory in itemcategorys" style="width:auto;" ng-disabled="itemsubcategory.id!=null" required>
          <option style="display:none" value=""></option>
        </select>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
    <div class="controls">
     <label><input type="radio" name="is_active" id="is_active_0" ng-model="itemsubcategory.is_active" value="1" required> Ya</label>
     <label><input type="radio" name="is_active" id="is_active_1" ng-model="itemsubcategory.is_active" value="0" required> Tidak</label>
   </div>
 </div>

 <div class="form-actions">
   <crud-buttons></crud-buttons>
 </div>
 <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
</form>
</div>
