<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('unit')">
 <legend>Units</legend>
 <form name="UnitForm" class="form-horizontal">
  <div class="control-group" ng-show="unit.id!=null">
   <label class="control-label" for="id">Code<font color="red">*</font>:</label>
   <div class="controls">
    <p>
      <input class="span6" type="text" name="id" id="id" ng-model="unit.id" disabled/></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Nama<font color="red">*</font>:</label>
    <div class="controls">
      <p><input class="span2" type="text" name="name" id="name" ng-model="unit.name" ng-minlength="3" ng-maxlength="3" unique-unitname="unit.id" onkeyup="convertToUppercase(this)" required/>
        <span class="error" ng-show="UnitForm.name.$error.minlength"><font color="red">Min. 3 karakter!</font></span>
        <span class="error" ng-show="UnitForm.name.$error.maxlength"><font color="red">Maks. 3 karakter!</font></span>
        <span ng-show="(UnitForm.name.$error.uniqueUnitname && !userForm.username.$error.minlength)"><font color="red">Nama unit sudah dibuat!</font></span>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="note">Keterangan:<font color="red">*</font></label>
    <div class="controls">
      <p>
        <input class="span10" type="text" name="note" id="note" ng-model="unit.note" onkeyup="convertToUppercase(this)" required/>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
    <div class="controls">
     <label><input type="radio" name="is_active" id="is_active_0" ng-model="unit.is_active" value="1" required> Ya</label>
     <label><input type="radio" name="is_active" id="is_active_1" ng-model="unit.is_active" value="0" required> Tidak</label>
   </div>
 </div>

 <div class="form-actions">
   <crud-buttons></crud-buttons>
 </div>
 <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
</form>
</div>
