<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('delivery')">
	<div class="row">
		<legend>Delivery</legend>
		<div class="col-md-12">
			<div class="col-md-4">
				<form name="DeliveryForm1" class="form-horizontal">

					<div class="control-group" ng-show="delivery.code != null">
						<label class="col-md-4 text-right" for="code">Kode Delivery<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span10" id="code" name="code" ng-model="delivery.code">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="date">Tanggal Kirim<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="date" name="date" ng-model="delivery.date" datepicker-popup="{{format}}" min="minDate" disabled required>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="shipping_id">Jasa Pengiriman<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<select name="shipping_id" id="shipping_id" ng-model="delivery.shipping_id" style="width: 180px" ng-options="shipping.id as shipping.name for shipping in shippings" required disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="ongkir">Ongkos Kirim:</label>
						<div class="controls">
							<p>
								<input type="text" class="span6" id="ongkir" name="ongkir" ng-model="delivery.ongkir" format="number" style="text-align: right;" ng-change="ongkir()">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="selling_delivery">Resi Penjualan<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input class="span10" type="text" name="selling_delivery" id="selling_delivery" ng-model="delivery.selling_delivery" onkeyup="convertToUppercase(this)" required/>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="note">Keterangan:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="note" id="note" ng-model="delivery.note"></textarea>
							</p>
						</div>
					</div>

					<br>
					<small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
					<br>

				</form>

			</div>

			<div class="col-md-4">
				<form name="DeliveryForm2" class="form-horizontal">		

					<div class="control-group">
						<label class="col-md-4 text-right" for="customer">Nama Customer:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span3" id="customer" name="customer" ng-model="delivery.customer">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="mobile">Telepon / Market:</label>
						<div class="controls">
							<p><input style="width: 120px" type="text" name="mobile" id="mobile" ng-model="delivery.mobile" maxlength="13" onkeypress='validate(event)' disabled>
								&nbsp;
								<select name="market_id" id="market_id" ng-model="delivery.market_id" ng-options="market.id as  market.name for market in markets" style="width: 125px" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="province">Provinsi:</label>
						<div class="controls">
							<p>
								<select name="province" id="province" ng-model="delivery.province" ng-options="province.name as province.name for province in provinces" ng-change="changeprov()" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="city">Kabupaten/Kota:</label>
						<div class="controls">
							<p>
								<select name="city" id="city" ng-model="delivery.city" ng-options="city.city as city.city for city in citys" ng-change="changecity()" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="districts">Kecamatan:</label>
						<div class="controls">
							<p>
								<select name="districts" id="districts" ng-model="delivery.districts" ng-options="district.districts as district.districts for district in districts" ng-change="changedist()" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="village">Kelurahan:</label>
						<div class="controls">
							<p>
								<select name="village" id="village" ng-model="delivery.village" ng-options="village.village as village.village for village in villages" ng-change="changepos()" disabled>
								</select>
								<input class="span6" type="text" name="postal" id="postal" ng-model="delivery.postal" disabled>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="address">Alamat:</label>
						<div class="controls">  
							<p><input style="width: 320px" type="text" name="address" id="address" ng-model="delivery.address" onkeyup="convertToUppercase(this)" disabled></p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="shipping_note">Shipping Note:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="shipping_note" id="shipping_note" ng-model="delivery.shipping_note" disabled></textarea>
							</p>
						</div>
					</div>
					<br>
				</form>

			</div>

			<div class="col-md-4">

			</div>

			<div class="clearfix">&nbsp;</div><br/>

			<legend></legend>
			<button class="btn btn-success btn-sm" ng-click="addItem()" ng-disabled="!canSave()"><i class="icon-plus"></i> Item </button>
			<div class="pull-right">Keterangan: (*) dapat di isi</div>
			<br><br>
			<div class="box">
				<div>
					<div ng-grid="gridOptions"></div>
				</div>
			</div>

			<br><br>
			
			<div class="box">
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 49%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">TOTAL</label>
					<div class="controls" style="font-size: 15px;width: 8%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{delivery.total | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 7%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 8%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 14%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{delivery.total_item_weight | number}}
					</div>
					<div class="controls" style="font-size: 15px;width: 7%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 7%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{delivery.qty_trans * -1 | number}}
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-actions">
					<div class="col-md-5">
					</div>
					<div class="col-md-6" ng-hide="delivery.is_save == 0">
						<button class="btn btn-success ce" ng-click="back()">Back</button>
					</div>
					<div class="pull-right">
						<button class="btn" ng-click="delivered()" ng-show="delivery.is_save == 1" ng-disabled="!canSave()" style="background-color: #F5961D;color: white;">Delivery</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>