table.table.table-bordered { 
  border: solid thin; 
  border-collapse: collapse; 
}
table.table.table-bordered caption { 
  padding-bottom: 0.5em; 
}
table.table.table-bordered th, 
table.table.table-bordered td { 
  border: solid thin;
  padding: 0.5rem;

}
table.table.table-bordered td {
  white-space: nowrap;
}
table.table.table-bordered th { 
  font-weight: normal; 
}
table.table.table-bordered td { 
  border-style: none solid; 
  vertical-align: top; 
}
table.table.table-bordered th { 
  padding: 0.2em; 
  vertical-align: middle; 
  
}

table.table.table-bordered tbody td:first-child::after { 
  content: leader(". "); '
}
table.header2.table-bordered { 
  border: solid thin; 
  border-collapse: collapse; 
}
table.header2.table-bordered caption { 
  padding-bottom: 0.5em; 
}
table.header2.table-bordered th{ 
  border: solid thin #000000;
  padding: 0.5rem;
  background-color:#104674;
  color:#FFFFFF;
} 
table.header2.table-bordered td { 
  border: solid thin #000000;
  padding: 0.1rem;

}
table.header2.table-bordered td {

}
table.header2.table-bordered th { 
  font-weight: normal; 
}
table.header2.table-bordered td { 
  border-style: none solid; 
  vertical-align: top; 
}
table.header2.table-bordered th { 
  padding: 0.2em; 
  vertical-align: middle; 
  
}

table.header2.table-bordered tbody td:first-child::after { 
  content: leader(". "); '
}
table.header1.table-bordered { 
border-spacing: 0px;
}

table.header1.table-bordered caption { 
  padding-bottom: 0.1em; 
}
table.header1.table-bordered th, 
table.header1.table-bordered td { 

  
}
table.header1.table-bordered td {
  
}
table..header1.table-bordered th { 
  font-weight: normal; 
}
table.header1.table-bordered td { 
  
  vertical-align: top; 
}
table.header1.table-bordered th { 
  
  vertical-align: middle; 

}

table.header1.table-bordered tbody td:first-child::after { 
  content: leader(". "); '
}