<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('receive')">
	<div class="row">
		<legend>Receive</legend>
		<div class="col-md-12">
			<div class="col-md-4">
				<form name="ReceiveForm1" class="form-horizontal">

					<div class="control-group" ng-show="receive.receive_code != null">
						<label class="col-md-4 text-right" for="receive_code">Kode Receive<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span10" id="receive_code" name="receive_code" ng-model="receive.receive_code">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="date_receive">Tanggal Receive<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="date_receive" name="date_receive" ng-model="receive.date_receive" is-open="Open" datepicker-popup="{{format}}" required disabled>
								<button type="button" class="btn btn-default" ng-click="Open=true;$event.stopPropagation();">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="to_name_receive">Diterima Oleh<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input type="text" class="span3" id="to_name_receive" name="to_name_receive" ng-model="receive.to_name_receive" onkeyup="convertToUppercase(this)" required>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="note_receive">Keterangan:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="note_receive" id="note_receive" ng-model="receive.note_receive"></textarea>
							</p>
						</div>
					</div>

					
					<br>
					<small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
					<br>

				</form>

			</div>

			<div class="col-md-4">
				<form name="ReceiveForm2" class="form-horizontal">

					<div class="control-group">
						<label class="col-md-4 text-right" for="id">Kode PO:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span10" id="id" name="id" ng-model="receive.id">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="date">Tanggal PO:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="date" name="date" ng-model="receive.date" datepicker-popup="{{format}}" disabled>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="supplier">Nama Supplier<:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span3" id="supplier" name="supplier" ng-model="receive.supplier"><button type="button" class="btn btn-default" ng-click="supplier()">
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="shipping_id">Jasa Pengiriman:</label>
						<div class="controls">
							<p>
								<select name="shipping_id" id="shipping_id" ng-model="receive.shipping_id" ng-options="shipping.id as shipping.name for shipping in shippings" style="width: auto;" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="ongkir">Ongkos Kirim:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="span6" id="ongkir" name="ongkir" ng-model="receive.ongkir" format="number" style="text-align: right;" disabled>
							</p>
						</div>
					</div>

				</form>
			</div>

			<div class="col-md-4">

			</div>

			<div class="clearfix">&nbsp;</div><br/>

			<legend></legend>
			<div class="pull-right">Keterangan: (*) dapat di isi</div>
			<br><br>
			<div class="box">
				<div>
					<div ng-grid="gridOptions"></div>
				</div>
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 47%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">TOTAL</label>
					<div class="controls" style="font-size: 15px;width: 15%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{receive.total | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 22%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{receive.bruto | number}}
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{receive.qty | number}}
					</div>
					<div class="controls" style="font-size: 15px;width: 10%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{receive.qty_receive | number}}
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-actions">
					<div class="col-md-5">
					</div>
					<div class="col-md-6" ng-hide="receive.is_save == 0">
						<button class="btn btn-success ce" ng-click="back()">Back</button>
					</div>
					<div class="pull-right">
						<button class="btn" ng-click="received()" ng-show="receive.is_save == 1" ng-disabled="!canSave()" style="background-color: #F5961D;color: white;">Receive</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>