 <div style="padding:19px;">
 	<div class="col-xs-12" ng-show="canRead('receive')">
 		<ul class="nav nav-pills clearfix">
 			<li><a ng-href="#/home/receive" class="btn btn-link"><i></i> Open Receive </a></li>
 			<li class="active"><a ng-href="#/home/receive/list" class="btn btn-link"><i></i> List Receive </a></li>
 		</ul>
 		<br>
 		<legend></legend>
 		<h3>List Receive</h3><br />
 		<div class="pull-left">
 			<form class="form-search">
 				<div class="input-prepend">
 					<span class="add-on">Search</span>
 					<input type="text" class="span2" my-enter="change_filter()" ng-model="filterOptions.filterText" class="form-control" onkeyup="convertToUppercase(this)" placeholder="Code..." style="width: 250px">
 				</div>
 			</form>
 		</div>
 		<div class="pull-right">
 		</div>
 		<div class="clearfix">&nbsp;</div><br/>
 		<div class="box">
 			<div>
 				<div ng-grid="gridOptions"></div>
 			</div>
 		</div>
 	</div>
 </div>