<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('reasonstock')">
 <legend>Reasonstocks</legend>
 <form name="ReasonstockForm" class="form-horizontal">
  <div class="control-group" ng-show="reasonstock.id!=null">
   <label class="control-label" for="id">Code<font color="red">*</font>:</label>
   <div class="controls">
    <p>
      <input class="span6" type="text" name="id" id="id" ng-model="reasonstock.id" disabled/></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Nama<font color="red">*</font>:</label>
    <div class="controls">
      <p><input class="span3" type="text" name="name" id="name" ng-model="reasonstock.name" ng-minlength="2" ng-maxlength="100" onkeyup="convertToUppercase(this)" required/>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
    <div class="controls">
     <label><input type="radio" name="is_active" id="is_active_0" ng-model="reasonstock.is_active" value="1" required> Ya</label>
     <label><input type="radio" name="is_active" id="is_active_1" ng-model="reasonstock.is_active" value="0" required> Tidak</label>
   </div>
 </div>

 <div class="form-actions">
   <crud-buttons></crud-buttons>
 </div>
 <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
</form>
</div>
