<div class="modal-header">
    <h3>Konfirmasi</h3>
</div>
<div class="modal-body">
    <p>Apakah Anda yakin ingin menghapus data ini?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Ya</button>
    <button class="btn btn-link" ng-click="cancel()">Batal</button>
</div>
