<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/letter.png">
  <title>Back Office HRIS System</title>

  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-192x192.png" sizes="192x192">

  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <!-- OneUI CSS framework -->
  <link rel="stylesheet" id="css-main" href="assets/css/oneui.css">
  <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
  <!-- END Stylesheets -->
</head> 
<!-- END Side Overlay -->
<!-- Sidebar -->
<nav id="sidebar" ng-controller="LeftColMenuCtrl">
  <!-- Sidebar Scroll Container -->
  <!-- Sidebar Content -->
  <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
  <div class="sidebar-content scrollbar" style="overflow-y: scroll;height: 100%;">
    <!-- Side Header -->
    <div class="side-header side-content bg-white-op">
      <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
      <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
        <i class="fa fa-times"></i>
      </button>
      <a href="">
        <span class="h4 font-w600 sidebar-mini-hide">
          <img src="img/logo_bj.png" alt="" style="width:70%">
        </span>
      </a>
    </div>
    <!-- END Side Header -->
    <!-- Side Content -->
    <div class="side-content" ng-show="isAuthenticated()" >
      <ul class="nav-main" ng-controller="LeftColMenuCtrl">
        <li ng-class="{active:isNavbarActive('home')}" ng-show="canRead('home')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home"><i class="si si-home"></i><span class="sidebar-mini-hide">Home</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('salesorder')}" ng-show="canRead('salesorder') || canRead('salesorderlazada')">
          <a class="nav-submenu" data-toggle="nav-submenu"><i class="fa fa-sitemap"></i><span class="sidebar-mini-hide">Sales Order</span></a>
          <ul>

            <li ng-class="{active:isNavbarActive('salesorder')}" ng-show="canRead('salesorder')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/salesorder"><i class="glyphicon glyphicon-shopping-cart"></i><span class="sidebar-mini-hide">SO</span></a>
            </li>

            <li ng-class="{active:isNavbarActive('salesorderall')}" ng-show="canRead('salesorderall')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/salesorderall"><i class="glyphicon glyphicon-shopping-cart"></i><span class="sidebar-mini-hide">SO ALL</span></a>
            </li>

          </ul>
        </li>

        <li ng-class="{active:isNavbarActive('delivery')}" ng-show="canRead('delivery')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/delivery"><i class="fa fa-cloud-upload"></i><span class="sidebar-mini-hide">Delivery (DO)</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('purchaseorder')}" ng-show="canRead('purchaseorder')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/purchaseorder"><i class="glyphicon glyphicon-shopping-cart"></i><span class="sidebar-mini-hide">Purchase Order (PO)</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('receive')}" ng-show="canRead('receive')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/receive"><i class="fa fa-cloud-download"></i><span class="sidebar-mini-hide">Receive (RO)</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('stock')}" ng-show="canRead('stock')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/stock"><i class="si si-doc"></i><span class="sidebar-mini-hide">Stock</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('adjustment')}" ng-show="canRead('adjustment')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/adjustment"><i class="si si-doc"></i><span class="sidebar-mini-hide">Adjustment</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('payment')}" ng-show="canRead('paymentlazada')">
          <a class="nav-submenu" data-toggle="nav-submenu"><i class="fa fa-sitemap"></i><span class="sidebar-mini-hide">Payment</span></a>
          <ul>

            <li ng-class="{active:isNavbarActive('paymentlazada')}" ng-show="canRead('paymentlazada')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/paymentlazada"><i class="fa fa-money"></i><span class="sidebar-mini-hide">Lazada</span></a>
            </li>

          </ul>
        </li>

        <li class="nav-main-heading" ng-show="canRead('masterdata')"><span class="sidebar-mini-hide">Master Data</span></li>

        <li ng-class="{active:isNavbarActive('company')}" ng-show="canRead('company')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/company"><i class="fa fa-building"></i><span class="sidebar-mini-hide">Cabang</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('customer')}" ng-show="canRead('customer')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/customer"><i class="fa fa-user"></i><span class="sidebar-mini-hide">Customer</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('supplier')}" ng-show="canRead('supplier')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/supplier"><i class="fa fa-user"></i><span class="sidebar-mini-hide">Supplier</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('pricelist')}" ng-show="canRead('pricelist')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/pricelist"><i class="fa fa-money"></i><span class="sidebar-mini-hide">Pricelist</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('owner')}" ng-show="canRead('owner')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/owner"><i class="fa fa-user"></i><span class="sidebar-mini-hide">Owner</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('salesman')}" ng-show="canRead('salesman')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/salesman"><i class="fa fa-user"></i><span class="sidebar-mini-hide">Salesman</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('market')}" ng-show="canRead('market')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/market"><i class="fa fa-building"></i><span class="sidebar-mini-hide">Market</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('shipping')}" ng-show="canRead('shipping')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/shipping"><i class="fa fa-truck"></i><span class="sidebar-mini-hide">Jasa Pengiriman</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('brand')}" ng-show="canRead('brand')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/brand"><i class="fa fa-diamond"></i><span class="sidebar-mini-hide">Brand</span></a>
        </li>

        <li ng-class="{active:isNavbarActive('reasonstock')}" ng-show="canRead('reasonstock')">
          <a href="{{APP_CONFIG.appBaseUrl}}/#/home/reasonstock"><i class="si si-doc"></i><span class="sidebar-mini-hide">Reason Stock</span></a>
        </li>

        <li ng-class="{open:payroll}" ng-show="canRead('item') || canRead('itemgroup') || canRead('itemcategory') || canRead('itemsubcategory')">
          <a class="nav-submenu" data-toggle="nav-submenu"><i class="fa fa-sitemap"></i><span class="sidebar-mini-hide">Item</span></a>
          <ul>

            <li ng-class="{active:isNavbarActive('item')}" ng-show="canRead('item')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/item"><i class="fa fa-square"></i><span class="sidebar-mini-hide">Item</span></a>
            </li>

            <li ng-class="{active:isNavbarActive('unit')}" ng-show="canRead('unit')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/unit"><i class="fa fa-square-o"></i><span class="sidebar-mini-hide">Unit</span></a>
            </li>

            <li ng-class="{active:isNavbarActive('itemgroup')}" ng-show="canRead('itemgroup')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/itemgroup"><i class="fa fa-square-o"></i><span class="sidebar-mini-hide">Item Group</span></a>
            </li>

            <li ng-class="{active:isNavbarActive('itemcategory')}" ng-show="canRead('itemcategory')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/itemcategory"><i class="fa fa-square-o"></i><span class="sidebar-mini-hide">Item Category</span></a>
            </li>

            <li ng-class="{active:isNavbarActive('itemsubcategory')}" ng-show="canRead('itemsubcategory')">
              <a href="{{APP_CONFIG.appBaseUrl}}/#/home/itemsubcategory"><i class="fa fa-square-o"></i><span class="sidebar-mini-hide">Item Subcategory</span></a>
            </li>

          </ul>
        </li>
        
      </ul>
    </div>
    <!-- END Side Content -->
  </div>
  <!-- Sidebar Content -->
  <!-- END Sidebar Scroll Container -->
</nav>
<!-- END Sidebar -->
<!-- Header -->
<header ng-controller="HeaderCtrl" id="header-navbar" class="content-mini content-mini-full" ng-show="isAuthenticated()">
  <!-- Header Navigation Right -->
  <ul class="nav-header pull-right" ng-show="isAuthenticated()" >
    <li style="line-height:35px">
     <strong>( {{date | date:'EEEE, dd MMMM yyyy'}} {{date | date:'HH:mm'}} ) - {{currentUser.name}}</strong>
   </li>
   <li>
    <div class="btn-group" ng-class="{active:isNavbarActive('sysadmin'), open:isSysAdminOpen}">
      <button class="btn btn-success dropdown-toggle" role="button" ng-click="isSysAdminOpen=!isSysAdminOpen;isMasterDataOpen=false" type="button">
        <i class="si si-settings"></i><small> Hai, {{currentUser.username}}</small>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" ng-mouseleave="isSysAdminOpen=false">
        <li>
          <a tabindex="-1" ng-click="profile()">
            <i class="si si-lock pull-right"></i>Password
          </a>
        </li>
        <li>
          <a tabindex="-1" ng-click="calculator()">
            <i class="si si-calculator pull-right"></i>Calculator
          </a>
        </li>
        <li  ng-show="canRead('user')">
          <a tabindex="-1" ng-href="{{APP_CONFIG.appBaseUrl}}/#/home/user">
            <i class="si si-user-follow pull-right"></i>User
          </a>
        </li>
        <li>
          <a tabindex="-1" ng-click="logout()">
            <i class="si si-logout pull-right"></i>Log out
          </a>
        </li>
      </ul>
    </div> 
  </li>
</ul>
<!-- END Header Navigation Right -->
<!-- Header Navigation Left -->
<ul class="nav-header pull-left">
  <li class="hidden-md hidden-lg">

    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
      <i class="fa fa-navicon"></i>
    </button>
  </li>
  <li class="hidden-xs hidden-sm">
    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
      <i class="fa fa-align-justify"></i>
    </button>
    <b>&emsp;Back Office HRIS System &emsp; </b>
    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
  </li>
</ul>
<!-- END Header Navigation Left -->
</header>
<!-- END Header -->
<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/core/jquery.slimscroll.min.js"></script>
<script src="assets/js/core/jquery.scrollLock.min.js"></script>
<script src="assets/js/core/jquery.appear.min.js"></script>
<script src="assets/js/core/jquery.countTo.min.js"></script>
<script src="assets/js/core/jquery.placeholder.min.js"></script>
<script src="assets/js/core/js.cookie.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- Page JS Plugins -->
<script src="assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- Page JS Code -->
<script src="assets/js/pages/base_pages_login.js"></script>

</html>
<!-- All functions for this theme + document.ready processing -->