<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('role')">
	<form class="form-horizontal" name="roleForm" novalidate>
		<fieldset>
			<legend>Role</legend>

			<div class="control-group">
				<label class="control-label" for="name">Role Name<font color="red">*</font>:</label>
				<div class="controls">
					<p><input class="span10" type="text" name="name" id="name" ng-model="role.name" ng-minlength="3" ng-maxlength="30" onkeyup="convertToUppercase(this)" required unique-rolename="role.id"/>
						<span class="error" ng-show="roleForm.name.$error.minlength"><font color="red">Min. 3 karakter!</font></span><span class="error" ng-show="roleForm.name.$error.maxlength"><font color="red">Maks. 30 karakter!</font></span>
						<span ng-show="(roleForm.name.$error.uniqueRolename && !userForm.username.$error.minlength)"><font color="red">Role name telah dipakai!</font></span></p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="role_id">Route Name<font color="red">*</font>:</label>
					<div class="controls">
						<p><select name="role_id" id="role_id" ng-model="role.route_id" ng-options="item.id as item.name for item in routes" required>
						</select></p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="actions">Action:</label>
					<div class="controls">
						<ul class="unstyled" id="actions">
							<li>
								<label>
									<input type="checkbox" id="can_create" name="can_create" ng-model="role.can_create" value="1"> Can Create
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" id="can_read" name="can_read" value="1" ng-model="role.can_read"> Can Read
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" id="can_edit" name="can_edit" value="1" ng-model="role.can_edit"> Can Update
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" id="can_edit" name="can_edit" value="1" ng-model="role.can_delete"> Can Delete
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
					<div class="controls">
						<label><input type="radio" name="is_active" id="is_active_0" ng-model="role.is_active" value="1" required> Yes</label>
						<label><input type="radio" name="is_active" id="is_active_1" ng-model="role.is_active" value="0" required> No</label>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<crud-buttons></crud-buttons>
			</div>
		</form>
	</div>