<div class="modal-header">
	<h3>Customer</h3>
</div>
<div class="modal-body">
	<div class="pull-left">
		<form class="form-search">
			<div class="input-prepend">
				<button type="button" class="btn">Search</button>
				<input type="text" my-enter="change_filter()" ng-model="filterOptions.filterText" class="search-query" onkeyup="convertToUppercase(this)" placeholder="Code, customer...">
			</div>
			&nbsp;
			<div class="input-prepend">
				<span class="add-on">Market</span>
				<select class="span2" name="market_id" id="market_id" ng-model="filterOptions.market_id" ng-options="market.id as market.name for market in markets" >
					<option></option>
				</select>
			</div>
			&nbsp;
			<div class="input-prepend">
				<button type="button" class="btn btn-success" ng-click="change_filter()">Filter</button>
			</div>
		</form>
	</div>
	<div class="pull-right">
	</div>
	<div class="clearfix">&nbsp;</div><br/>
	<div class="box">
		
		<div class="box-content no-padding">
			<div  ng-grid="gridOptions"></div>
		</div>
	</div>
	
</div>
<div class="modal-footer">
	<button ng-disabled="!canSelect()" class="btn btn-success" ng-click="select()" >Choose</button>
	<button class="btn btn-link" ng-click="back()">Cancel</button>
</div>