<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('salesorder')">
	<div class="row">
		<legend>Edit Sales Order</legend>
		<div class="col-md-12">
			<div class="col-md-4">
				<form name="SalesorderForm1" class="form-horizontal">

					<div class="control-group">
						<label class="col-md-4 text-right" for="date">Tanggal<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="date" name="date" ng-model="salesorder.date" is-open="Open" datepicker-popup="{{format}}" min="minDate" ng-change="changedatereq()" required disabled>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="customer">Nama Customer<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span3" id="customer" name="customer" ng-model="salesorder.customer" required>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="market_id">Market<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="market_id" id="market_id" ng-model="salesorder.market_id" ng-options="market.id as  market.name for market in markets" disabled>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="mobile">Telepon<font color="red">*</font>:</label>
						<div class="controls">
							<p><input class="span10" type="text" name="mobile" id="mobile" ng-model="salesorder.mobile" maxlength="13" onkeypress='validate(event)' required/>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="email">Email:</label>
						<div class="controls">
							<p>
								<input class="span10" type="email" name="email" id="email" ng-model="salesorder.email">
								<span for="SalesordertForm1" class="text-danger" ng-show="SalesordertForm1.email.$error.email">
									<font color="red">Email tidak valid!</font>
								</span>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="province">Provinsi<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="province" id="province" ng-model="salesorder.province" ng-options="province.name as province.name for province in provinces" ng-change="changeprov()" required>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="city">Kabupaten/Kota<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="city" id="city" ng-model="salesorder.city" ng-options="city.city as city.city for city in citys" ng-change="changecity()" required >
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="districts">Kecamatan<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="districts" id="districts" ng-model="salesorder.districts" ng-options="district.districts as district.districts for district in districts" ng-change="changedist()" required>
								</select>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="village">Kelurahan<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<select name="village" id="village" ng-model="salesorder.village" ng-options="village.village as village.village for village in villages" ng-change="changepos()" required>
								</select>
								<input class="span6" type="text" name="postal" id="postal" ng-model="salesorder.postal" disabled/>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="address">Alamat<font color="red">*</font>:</label>
						<div class="controls">
							<p><input style="width: 320px" type="text" name="address" id="address" ng-model="salesorder.address" onkeyup="convertToUppercase(this)" required/></p>
						</div>
					</div>

					<br>
					<small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
					<br>

				</form>

			</div>

			<div class="col-md-4">
				<form name="SalesorderForm2" class="form-horizontal">

					<div class="control-group">
						<label class="col-md-4 text-right" for="salesman">Salesman<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input disabled type="text" class="span3" id="salesman" name="salesman" ng-model="salesorder.salesman" required><button type="button" class="btn btn-default" ng-click="salesman()"><i class="glyphicon glyphicon-search"></i></button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="selling">Kode Penjualan<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input class="span10" type="text" name="selling" id="selling" ng-model="salesorder.selling" unique-refname="salesorder.id" onkeyup="convertToUppercase(this)" required/>
								<span ng-show="(SalesordertForm2.selling.$error.uniqueSellingname && !userForm.username.$error.minlength)"><font color="red">PO telah dipakai!</font></span>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="selling_date">Tanggal Penjualan<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="selling_date" name="selling_date" ng-model="salesorder.selling_date" is-open="selling_date" datepicker-popup="{{format}}" required disabled ng-change="changedate(1)">
								<button type="button" class="btn btn-default" ng-click="selling_date=true;$event.stopPropagation();">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="expired_selling_date">Akhir Penjualan<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="expired_selling_date" name="expired_selling_date" ng-model="salesorder.expired_selling_date" is-open="expired_selling_date" datepicker-popup="{{format}}" disabled ng-change="changedate(2)" min="salesorder.selling_date" required>
								<button type="button" class="btn btn-default" ng-click="expired_selling_date=true;$event.stopPropagation();">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="delivery_date">Tanggal Kirim<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<input type="text" class="date-popup" id="delivery_date" name="delivery_date" ng-model="salesorder.delivery_date" is-open="delivery_date" datepicker-popup="{{format}}" min="salesorder.selling_date" disabled ng-change="changedate(3)" required>
								<button type="button" class="btn btn-default" ng-click="delivery_date=true;$event.stopPropagation();" ng-disabled="salesorder.selling_date==null">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="shipping_id">Jasa Pengiriman<font color="red">*</font>:</label>
						<div class="controls">
							<p class="input-group" >
								<select name="shipping_id" id="shipping_id" ng-model="salesorder.shipping_id" style="width: 180px" ng-options="shipping.id as shipping.name for shipping in shippings" required>
								</select>
								&nbsp;
								<input type="text" class="span6" id="ongkir" name="ongkir" ng-model="salesorder.ongkir" format="number" style="text-align: right;" ng-change="ongkir()"> <font color="red">*Ongkir</font>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="booking">Kode Booking:</label>
						<div class="controls">
							<p>
								<input class="span10" type="text" name="booking" id="booking" ng-model="salesorder.booking" onkeyup="convertToUppercase(this)"/>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="shipping_note">Shipping Note:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="shipping_note" id="shipping_note" ng-model="salesorder.shipping_note"></textarea>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="col-md-4 text-right" for="note">Keterangan:</label>
						<div class="controls">
							<p>
								<textarea type="text" class="span3" name="note" id="note" ng-model="salesorder.note"></textarea>
							</p>
						</div>
					</div>
					<br>
				</form>

			</div>

			<div class="col-md-4">

			</div>

			<div class="clearfix">&nbsp;</div><br/>

			<legend></legend>
			<button class="btn btn-success btn-sm" ng-click="addItem()" ng-disabled="!canSave()"><i class="icon-plus"></i> Item </button>
			<div class="pull-right">Keterangan: (*) dapat di isi</div>
			<br><br>
			<div class="box">
				<div>
					<div ng-grid="gridOptions"></div>
				</div>
			</div>

			<br><br>

			<div class="box">
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 47%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">TOTAL</label>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{salesorder.total | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 11%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{salesorder.disc_rupiah | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{salesorder.bruto | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 12%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{salesorder.total_item_weight | number}}
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{salesorder.totalmarginrp | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{salesorder.totalhpp | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						{{salesorder.qty | number}}
					</div>
				</div>
				<div class="control-group" style="margin-top:15px;background-color:#46c37b">
					<label for="total" style="width: 47%;text-align: left;padding: 1px 5px 0px 5px;font-size: 15px;font-weight: bold;">SUBTOTAL (TOTAL + ONGKIR)</label>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
						Rp. {{salesorder.subtotal | number:0}}
					</div>
					<div class="controls" style="font-size: 15px;width: 11%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 12%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
					<div class="controls" style="font-size: 15px;width: 6%;float: right; text-align: right; padding: 2px 5px 0px 15px; font-weight: bold;">
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-actions">
					<div class="col-md-5">
					</div>
					<div class="col-md-7" ng-show="salesorder.is_save == 0">
						<crud-buttons></crud-buttons>
					</div>
					<div class="col-md-6" ng-hide="salesorder.is_save == 0">
						<button class="btn btn-success ce" ng-click="back()">Back</button>
					</div>
					<div class="pull-right">
						<button class="btn" ng-click="post()" ng-show="salesorder.is_save == 0" style="background-color: #F5961D;color: white;">Posting</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>