 <div style="padding:19px;">
 	<div class="col-xs-12" ng-show="canRead('salesorder')">
 		<h3>Sales Order</h3><br />
 		<div class="pull-left">
 			<form class="form-search">
 				<div class="input-prepend">
 					<span class="add-on">Search</span>
 					<input type="text" class="span2" my-enter="change_filter()" ng-model="filterOptions.filterText" class="form-control" onkeyup="convertToUppercase(this)" placeholder="Nomor S0, selling, customer code..." style="width: 250px">
 				</div>
 				<div class="input-prepend"> 
 					<button  type="button" class="btn btn-success" ng-click="change_filter()">Filter</button>
 				</div>
 			</form>
 		</div>
 		<div class="pull-right">
 			<button ng-click="create()" class="btn btn-link"><i class="icon-plus" ></i> Create</button>
 		</div>
 		<div class="clearfix">&nbsp;</div><br/>
 		<div class="box">
 			<div>
 				<div ng-grid="gridOptions"></div>
 			</div>
 		</div>
 	</div>
 </div>