<div class="modal-header">
    <h3>Sales</h3>
</div>
<div class="modal-body">
	  <div class="pull-left">
		<form class="form-search">
			<div class="input-prepend">
				<button type="button" class="btn">Search</button>
				<input type="text" ng-model="filterOptions.filterText" class="span2 search-query" onkeyup="convertToUppercase(this)" placeholder="Code, sales...">
			</div>
		</form>
	</div>
	<div class="pull-right">
	</div>
	<div class="clearfix">&nbsp;</div><br/>
		<div class="box">
			
			<div class="box-content no-padding">
				  <div  ng-grid="gridOptions"></div>
				</div>
		</div>
	
</div>
<div class="modal-footer">
    <button ng-disabled="!canSelect()" class="btn btn-success" ng-click="select()" >Choose</button>
    <button class="btn btn-link" ng-click="back()">Cancel</button>
</div>