    <div class="clearfix">&nbsp;</div>
    <div class="well" ng-show="canRead('company')">
     <legend>Cabang</legend>
     <form name="CompanyForm" class="form-horizontal">
      <div class="control-group">
       <label class="control-label" for="code">Code<font color="red">*</font>:</label>
       <div class="controls">
        <p><input class="span6" type="text" name="code" id="code" ng-model="company.code" onkeyup="convertToUppercase(this)"/></p>
      </div>
    </div>
    <div class="control-group">
     <label class="control-label" for="name">Nama<font color="red">*</font>:</label>
     <div class="controls">
      <p><input class="span10" type="text" name="name" id="name" ng-model="company.name" placeholder="Nama Perusahaan" onkeyup="convertToUppercase(this)" required/></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="address">Alamat:</label>
    <div class="controls">	
     <p><div text-angular ng-model="company.address"></div></p>
   </div>
 </div>	
 <div class="control-group">
   <label class="control-label" for="phone">Telepon:</label>
   <div class="controls">
    <p><input class="span10" type="text" name="phone" id="phone" ng-model="company.phone" placeholder="Nomor Telephone"/>
    </p>
  </div>
</div>
<div class="control-group">
 <label class="control-label" for="email">Email:</label>
 <div class="controls">
  <p><input class="span10" type="email" name="email" id="email" ng-model="company.email" placeholder="Email"/>
    <span for="email" class="text-danger" ng-show="CompanyForm.email.$error.email"><font color="red">Email tidak valid!</font></span>
  </p>
</div>
</div>

<div class="control-group">
 <label class="control-label" for="file_path" >Upload Logo:</label>
 <div class="controls" style="padding-left: 5px;padding-right: 5px;">
  <input class="form-control" type="file" ng-file-select="onFileSelect($files)">
  <p class="help-block">Tipe Gambar: JPG/PNG/GIF</p>
  <p class="help-block">Maksimal Ukuran: 200 Kb</p>
  <div class="clearfix">
    <ul class="list-inline">
      <li class="col-sm-12" ng-repeat="attachment in company.attachments" ng-hide="($index<(company.attachments.length-1))">
        <div>
          <p ng-if="(attachment.file_type.indexOf('image')>-1)">
            <a href="{{appBaseUrl+attachment.file_path}}" target="_blank">
              <img ng-src="{{appBaseUrl+attachment.file_path}}" class="img-thumbnail" width="200" height="200" />
            </a>
          </p>
          <p ng-if="(attachment.file_type.indexOf('audio')>-1)">
            <audio controls>
              <source src="{{appBaseUrl + attachment.file_path}}" type="{{attachment.file_type}}">
                <embed height="50" width="100" src="{{appBaseUrl + attachment.file_path}}">
                </audio>
                <br>If not supported you can use this 
                <a href="{{appBaseUrl+attachment.file_path}}" target="_blank">
                  link
                </a>
              </p>
              <p class="text-muted">
                <small>
                  <small>
                    type: {{attachment.file_type}}
                  </small>
                </small>
              </p>
            </div>
            <div class="progress progress-striped active" ng-show="progress[$index] >= 0">
              <div class="progress-bar" style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
            </div>
            <div>
              <a class="btn btn-xs btn-success" ng-href="" ng-click="start($index)" ng-show="progress[$index] < 0">Start</a> 
              <a class="btn btn-xs btn-default" ng-href="" ng-click="abort($index)" ng-show="progress[$index] < 100">Abort</a>
              <a class="btn btn-sm btn-danger" ng-href="" ng-click="removeAttachment($index)" ng-show="progress[$index] == 100 || attachment.file_path!=null"></i> Remove</a>
              <br><br></div>
            </li>
          </ul>
        </div>
      </div>

    </div>


    <div class="control-group">
      <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
      <div class="controls">
       <label><input type="radio" name="is_active" id="is_active_0" ng-model="company.is_active" value="1" required> Ya</label>
       <label><input type="radio" name="is_active" id="is_active_1" ng-model="company.is_active" value="0" required> Tidak</label>
     </div>
   </div>

   <div class="form-actions">
     <crud-buttons></crud-buttons>
   </div>
   <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
 </form>
</div>