<div style="padding:19px;">
	<div class="col-xs-12" ng-show="canRead('brand')">
		<h3>Stocks</h3><br />
		<div class="pull-left">
			<form class="form-search">
				<div class="input-prepend">
					<span class="add-on">Search</span>
					<input type="text" my-enter="change_filter()" ng-model="filterOptions.filterText" class="search-query" onkeyup="convertToUppercase(this)" placeholder="code, nama...">
				</div>
				
  				<div class="input-prepend">
  					<button type="button" class="btn btn-success" ng-click="change_filter()">Filter</button>
  				</div>
			</form>
		</div>
		<div class="pull-right">
		</div>
		<div class="clearfix">&nbsp;</div><br/>
		<div class="box">

			<div>
				<div  ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>
</div>