<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('brand')">
 <legend>Brands</legend>
 <form name="BrandForm" class="form-horizontal">
  <div class="control-group" ng-show="brand.id!=null">
   <label class="control-label" for="id">Code<font color="red">*</font>:</label>
   <div class="controls">
    <p>
      <input class="span6" type="text" name="id" id="id" ng-model="brand.id" disabled/></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Nama<font color="red">*</font>:</label>
    <div class="controls">
      <p><input class="span3" type="text" name="name" id="name" ng-model="brand.name" ng-minlength="2" ng-maxlength="100" unique-brandname="brand.id" onkeyup="convertToUppercase(this)" required/>
        <span class="error" ng-show="BrandForm.name.$error.minlength"><font color="red">Min. 2 karakter!</font></span>
        <span class="error" ng-show="BrandForm.name.$error.maxlength"><font color="red">Maks. 100 karakter!</font></span>
        <span ng-show="(BrandForm.name.$error.uniqueBrandname && !userForm.username.$error.minlength)"><font color="red">Nama brand sudah dibuat!</font></span>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
    <div class="controls">
     <label><input type="radio" name="is_active" id="is_active_0" ng-model="brand.is_active" value="1" required> Ya</label>
     <label><input type="radio" name="is_active" id="is_active_1" ng-model="brand.is_active" value="0" required> Tidak</label>
   </div>
 </div>

 <div class="form-actions">
   <crud-buttons></crud-buttons>
 </div>
 <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
</form>
</div>
