<form name="form" novalidate class="login-form">
    <div class="modal-header">
        <h4>Log In</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-show="authReason">
            {{authReason}}
        </div>
        <div class="alert alert-error" ng-show="authError">
            {{authError}}
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Username or Email</label>
                <div class="controls">
                    <div class="input-prepend" id="inputEmail">
                      <span class="add-on"><i class="icon-user"></i></span>
                        <input name="login" type="text" ng-model="user.email" required autofocus>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPass">Password</label>
                <div class="controls">
                    <div class="input-prepend" id="inputPass">
                      <span class="add-on"><i class="icon-lock"></i></span>
                        <input name="pass" type="password" ng-model="user.password" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-large login" ng-click="login()" ng-disabled='form.$invalid'>Masuk</button>
    </div>
</form>
