<div class="nav navbar-nav pull-right panel-menu" ng-show="isAuthenticated()">
	<li class="dropdown" ng-class="{open:isNotificationCenterOpen}" ng-show="isAuthenticated()">
		<a id="notificationmenu" role="button" class="dropdown-toggle" ng-click="isNotificationCenterOpen=!isNotificationCenterOpen;isMasterDataOpen=false">
          <span tooltip-placement="left" tooltip="Notifications"><img style="width:20px;padding-bottom:10px" src="img/notification.png"/>
			<span class="badge" ng-hide="(sumnotif===0)"><small>{{sumnotif}}</small></span></span>
        </a>

        <ul class="dropdown-menu notification" ng-show="currentUser.user_group_id === 1 || currentUser.user_group_id === 2 || currentUser.user_group_id === 3 || currentUser.user_group_id === 4 || currentUser.user_group_id === 5" role="menu" aria-labelledby="adminmenu" ng-mouseleave="isNotificationCenterOpen=false" style="box-shadow: 0px 1px 5px 0.2px #787886;">
            <li class="notification-header headernotif">Notifikasi</li>
			<li class="notification-header" ng-hide="(need_approval_non_cash===0 && rejected_non_cash===0)"><strong>Purchase Request Non Cash</strong></li>
            <li class="notification-body">
              
                <ul>
                 <li ng-hide="(rejected_non_cash===0)">
                    <div ng-click="noncash()">
					  <span >Rejected</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{rejected_non_cash}}</small></span>
                      
                    </div>
                  </li>
				   <li ng-hide="(need_approval_non_cash===0)">
                    <div ng-click="noncash()">
					  <span >Need Approval</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{need_approval_non_cash}}</small></span>
                      
                    </div>
                  </li>
                </ul>

            </li>
			<li class="notification-header" ng-hide="(need_approval_cash===0 && rejected_cash===0)"><strong>Purchase Request Cash</strong></li>
			<li class="notification-body">
              
                <ul>
                 <li ng-hide="(rejected_cash===0)">
                    <div ng-click="cash()">
					  <span >Rejected</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{rejected_cash}}</small></span>
                      
                    </div>
                  </li>
				  <li ng-hide="(need_approval_cash===0)">
                    <div ng-click="cash()">
					  <span >Need Approval</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{need_approval_cash}}</small></span>
                      
                    </div>
                  </li>
                </ul>

            </li>
			<li class="notification-header" ng-hide="(need_approval_price_list===0)"><strong>Price List</strong></li>
			<li class="notification-body">
              
                <ul>
                 <li ng-hide="(need_approval_price_list===0)">
                    <div ng-click="cash()">
					  <span >Need Approval</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{need_approval_price_list}}</small></span>
                      
                    </div>
                  </li>
                </ul>

            </li>
            <li class="notification-footer"><div class="text-center"><a ng-href="#/home/notification">Lihat Semua</a></div></li>
        </ul>
		
		<ul class="dropdown-menu notification" ng-show="currentUser.user_group_id === 7" role="menu" aria-labelledby="adminmenu" ng-mouseleave="isNotificationCenterOpen=false" style="box-shadow: 0px 1px 5px 0.2px #787886;">
            <li class="notification-header headernotif">Notifikasi</li>
			<li class="notification-header" ng-hide="(open===0)"><strong>Purchase Request Location</strong></li>
            <li class="notification-body">
              
                <ul>
                 <li ng-hide="(open===0)">
                    <div ng-click="opened()">
					  <span >Open</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{open}}</small></span>
                      
                    </div>
                  </li>
                </ul>

            </li>
			<li class="notification-header" ng-hide="(reject_price_list===0)"><strong>Price List</strong></li>
			<li class="notification-body">
              
                <ul>
                 <li ng-hide="(reject_price_list===0)">
                    <div ng-click="opened()">
					  <span >Rejected</span><span>:</span>
					 
					  <span class="badge pull-right"><small>{{reject_price_list}}</small></span>
                      
                    </div>
                  </li>
                </ul>

            </li>
            <li class="notification-footer"><div class="text-center"><a ng-href="#/home/notification">Lihat Semua</a></div></li>
        </ul>
		
	</li>
	 <!--li ng-class="{active:isNavbarActive('sysadmin'), open:isMasAdminOpen}" ng-show="canRead('master')">
        <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isMasAdminOpen=!isMasAdminOpen;isDataOpen=false"><span tooltip-placement="left" tooltip="Master"><img style="width:20px;padding-bottom:10px" src="img/masterdata.png"/></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu" ng-mouseleave="isMasAdminOpen=false">
            <li ng-show="canRead('master_all')"><a tabindex="-1" ng-href="#/home/itemgroup" ng-click="isMasAdminOpen=false">Item Super Group</a></li>
            <li ng-show="canRead('master_all')"><a tabindex="-1" href="#/home/itemcategory" ng-click="isMasAdminOpen=false">Item Group</a></li>
			<li ng-show="canRead('master_all')"><a tabindex="-1" ng-href="#/home/subcategory" ng-click="isMasAdminOpen=false">Item Subgroup</a></li>
			<li ng-show="canRead('master_all')"><a tabindex="-1" ng-href="#/home/item_subcategory" ng-click="isMasAdminOpen=false">Item Category</a></li>
            <li ng-show="canRead('master_all')"><a tabindex="-1" href="#/home/unit" ng-click="isMasAdminOpen=false">Measurement Unit</a></li>
			<li ng-show="canRead('master_all')"><a tabindex="-1" ng-href="#/home/usd" ng-click="isMasAdminOpen=false">USD</a></li>
            <li ng-show="canRead('master_all') || canRead('master_item')"><a tabindex="-1" href="#/home/item" ng-click="isMasAdminOpen=false">Item</a></li>
			<li ng-show="canRead('master_all')"><a tabindex="-1" ng-href="#/home/location" ng-click="isMasAdminOpen=false">Location</a></li>
			<li ng-show="canRead('master_all') || canRead('master_price')"><a tabindex="-1" ng-href="#/home/price_list" ng-click="isMasAdminOpen=false">Price Location</a></li>
            <!--li ng-show="canRead('configuration')"><a tabindex="-1" href="#/home/supplier" ng-click="isMasAdminOpen=false">Supplier</a></li>
			<li ng-show="canRead('configuration')"><a tabindex="-1" ng-href="#/home/price_location" ng-click="isMasAdminOpen=false">Price Location</a></li-->
        <!--/ul>
    </li-->
	 <li ng-class="{active:isNavbarActive('sysadmin'), open:isSysAdminOpen}" ng-show="canRead('master_all')">
        <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isSysAdminOpen=!isSysAdminOpen;isMasterDataOpen=false"><span tooltip-placement="left" tooltip="Settings"><img style="width:20px;padding-bottom:10px" src="img/setting.png"/></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu" ng-mouseleave="isSysAdminOpen=false">
            <li ng-show="canRead('configuration')"><a tabindex="-1" ng-href="#/home/user" ng-click="isSysAdminOpen=false">User</a></li>
            <!--li ng-show="canRead('configuration')"><a tabindex="-1" href="#/home/configuration" ng-click="isSysAdminOpen=false">Pengaturan Aplikasi</a></li-->
            <li ng-show="canRead('route')"><a tabindex="-1" href="#/home/route" ng-click="isSysAdminOpen=false">Route</a></li>
        </ul>
    </li>
	<li>
		<a ng-click="calculator()">
			<span tooltip-placement="left" tooltip="Calculator">
			<img style="width:20px;padding-bottom:10px" src="img/calculator.png"/>
			</span>
		</a>
	</li>
		<li>
		<a ng-click="logout()">
			<span tooltip-placement="left" tooltip="Logout">
			<img style="width:20px;padding-bottom:10px" src="img/exit.png"/>
			</span>
		</a>
	</li>
	
</div>