<div style="padding:19px;">
	<div class="col-xs-12">
		<h3>Back Office HRIS System</h3><br><br>
			<img style="width:75%; height:75%; margin-left:auto; margin-right:auto; display: block" src="img/bod_bbb.png">
			<!--iframe src="img/pufi.pdf"  width="70%" style="height: 55em;"></iframe-->
	</div>
</div>
