<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('route')">
	<form class="form-horizontal" name="routeForm" novalidate>

		<legend>Route</legend>
		<div class="control-group">
			<label class="control-label" for="name">Nama<font color="red">*</font>:</label>
			<div class="controls">
				<p><input class="span10" type="text" name="name" id="name" ng-model="route.name" ng-minlength="3" ng-maxlength="30"onkeyup="convertToLowercase(this)" required unique-routename="route.id"/>
					<span class="error" ng-show="routeForm.name.$error.minlength"><font color="red">Min. 3 karakter!</font></span>
					<span class="error" ng-show="routeForm.name.$error.maxlength"><font color="red">Maks. 30 karakter!</font></span>
					<span ng-show="(routeForm.name.$error.uniqueRoutename && !userForm.username.$error.minlength)"><font color="red">Nama telah dipakai!</font></span>			  
				</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="label">Label<font color="red">*</font>:</label>
			<div class="controls">
				<p><textarea class="span10" name="label" id="label" ng-model="route.label" required></textarea></p>
			</div>
		</div>
		<div class="form-actions">
			<crud-buttons route="route"></crud-buttons>
		</div>

	</form>
</div>
