 <div style="padding:19px;">
  <div class="col-xs-12" ng-show="canRead('route')">
    <ul class="nav nav-pills clearfix">
     <li><a ng-href="#/home/user" class="btn btn-link"><i></i> User List</a></li>
     <li><a ng-href="#/home/group" class="btn btn-link"><i ></i> User Group Role</a></li>
     <li><a ng-href="#/home/role" class="btn btn-link"><i></i> Role List</a></li>
     <li class="active"><a ng-href="#/home/route" class="btn btn-link"><i></i> Route</a></li>
   </ul>
    <div class="clearfix">&nbsp;</div>
    <div class="pull-left">
      <form class="form-search">
        <div class="input-prepend">
          <button type="button" class="btn">Search</button>
          <input type="text" ng-model="filterOptions.filterText" class="search-query" placeholder="name, label...">
        </div>
      </form>
    </div>
    <div class="pull-right">
      <button ng-hide="!canCreate()" ng-click="create()" class="btn btn-link"><i class="icon-plus"></i> Create</button>
      <button ng-disabled="!canSelect()" ng-click="detail()" class="btn btn-link">Detail</button>
    </div>
    <div class="clearfix">&nbsp;</div>
    <br>
    <div>
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
  </div>
</div>
