<div class="clearfix">&nbsp;</div>
<div class="well" ng-show="canRead('market')">
 <legend>Market</legend>
 <form name="MarketForm" class="form-horizontal">
  <div class="control-group" ng-show="market.code!=null">
   <label class="control-label" for="code">Code<font color="red">*</font>:</label>
   <div class="controls">
    <p>
      <input class="span6" type="text" name="code" id="code" ng-model="market.code" disabled/></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Market<font color="red">*</font>:</label>
    <div class="controls">
      <p><input class="span10" type="text" name="name" id="name" ng-model="market.name" onkeyup="convertToUppercase(this)" required/>
      </p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="is_active">Aktif<font color="red">*</font>:</label>
    <div class="controls">
     <label><input type="radio" name="is_active" id="is_active_0" ng-model="market.is_active" value="1" required> Ya</label>
     <label><input type="radio" name="is_active" id="is_active_1" ng-model="market.is_active" value="0" required> Tidak</label>
   </div>
 </div>

 <div class="form-actions">
   <crud-buttons></crud-buttons>
 </div>
 <small><font color="red"><i>Keterangan: tanda (*) tidak boleh kosong</i></font></small>
</form>
</div>
