<div class="clearfix">&nbsp;</div>
<div class="well">
	<div class="row">
		<tabset justified="true">
			<tab heading="Profile">
				<form class="form-horizontal" name="profileForm" novalidate ng-controller="ProfileEditCtrl">
					<br>
					<legend>Profile</legend>
					<div class="control-group">
						<label class="control-label" for="employee_name">Nama<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input class="span10" type="text" name="name" id="name" ng-model="profile.name" required>
							</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="email">Email<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input class="span10" type="email" name="email" id="email" ng-model="profile.email" required unique-email="profile.id">
								<span for="email" class="text-danger" ng-show="profileForm.email.$error.email">Email tidak valid!</span>
								<span ng-show="(profileForm.email.$error.uniqueEmail)"><font color="red">Email telah dipakai!</font></span>
							</p>
						</div>
					</div>
					<div class="form-actions">
						<button ng-hide="!(canCreate() || canUpdate())" type="button" class="btn btn-link revert" ng-click="revert()" ng-disabled="!canRevert()">Revert</button> 
						<button ng-hide="!(canCreate() || canUpdate())" type="button" ng-disabled="!canSave()" class="btn btn-success" ng-click="save()">Ubah Profile</button> 
					</div>

				</form>
			</tab>

			<tab heading="Password">
				<form class="form-horizontal" name="change_pwdForm" novalidate ng-controller="ChangePasswordCtrl">
					<br>
					<legend>Password</legend>
					<div class="control-group">
						<label class="control-label" for="old_pwd">Password Lama<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input class="span10" type="password" name="old_pwd" id="old_pwd" ng-model="change_pwd.old_pwd"  ng-minlength="6" ng-maxlength="50" required/>
								<span class="error" ng-show="change_pwdForm.old_pwd.$error.minlength"><font color="red">Min. 6 karakter!</font></span>
								<span class="error" ng-show="change_pwdForm.old_pwd.$error.maxlength"><font color="red">Max. 50 karakter!</font></span>
							</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="new_pwd">Password Baru<font color="red">*</font>:</label>
						<div class="controls">
							<p>
								<input class="span10" type="password" name="new_pwd" id="new_pwd" ng-model="change_pwd.new_pwd" ng-minlength="6" ng-maxlength="50" required/>
								<span class="error" ng-show="change_pwdForm.new_pwd.$error.minlength"><font color="red">Min. 6 karakter!</font></span>
								<span class="error" ng-show="change_pwdForm.new_pwd.$error.maxlength"><font color="red">Maks. 50 karakter!</font></span>
							</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="retype_new_pwd">Ulangi Password Baru<font color="red">*</font>:</label>
						<div class="controls">
							<p><input class="span10" type="password" name="retype_new_pwd" id="retype_new_pwd" ng-model="change_pwd.retype_new_pwd" required check-pwd="new_pwd"/>
								<span class="error" ng-show="change_pwdForm.retype_new_pwd.$error.pwmatch"><font color="red">Passwords tidak sama!</font></span>
							</p>
						</div>
					</div>
					<div class="form-actions">
						<button ng-hide="!(canCreate() || canUpdate())" type="button" ng-disabled="!canSave()" class="btn btn-success" ng-click="save()">Change Password</button> 
					</div>

				</form>
			</tab>
		</tabset>
	</div>
</div>
